[2019-10-12 01:49] apptekstudios opened #9 "TODO: UITableViewDiffableDataSource doesn't support headers/footers"
The current implementation of ASTableView uses UITableViewDiffableDataSource, which for some reason does not allow for providing header/footer views.

**Ideal solution:**
- Apple implements this (as they did for UICollectionViewDiffableDataSource)
   → Radar has been filed

**Considerations for temporary solutions:**
- Consider subclassing UITableViewDiffableDataSource to implement the methods??
-

[2019-10-15 02:48] apptekstudios opened #12 "TODO: Implement MacOS support"
Currently this package is iOS only, would be good to expand with support for MacOS

[2019-10-16 20:14] janandre opened #13 "XCode 11.2b - EXC_BAD_ACCESS at setupPrefetching()"
When running the demo project or just using the collection view in an own project it crashes on `setupPrefetching`.

[2019-10-16 20:15] janandre opened #14 "Invalid version tag for SPM"
SPM cannot be used to import project.
You need to provide semantic version tags like 0.9.0 not v0.9.

[2019-10-16 21:19] apptekstudios commented on #13
Thanks for raising the issue Jan :) I couldn’t reproduce this crash, which version of Xcode / iOS are you testing with?

[2019-10-16 21:20] janandre commented on #13
I used Version 11.2 beta (11B41) :)

[2019-10-16 21:23] janandre commented on #14
Tested with XCode Version 11.2 beta (11B41).
Maybe the released XCode was not so strict.

[2019-10-16 21:25] apptekstudios commented on #14
Thanks! You're right that SPM didn't like the git-style version tag. I've now changed it to strict semantic versioning. Just tested in the Xcode 11.1 GM and works now.

[2019-10-16 21:25] #14 closed

[2019-10-16 21:30] apptekstudios commented on #13
I suspect it's due to some change in Combine (which is utilised for `setupPrefetching`). There's no error on the Xcode 11.1 GM.
I'll download that beta and will try and take a look what's happening later today :)

[2019-10-17 12:34] apptekstudios commented on #13
Managed to track down the issue and should now be resolved.

It seems to be a weird compiler bug in the beta.
- The same error occurred when I replaced `setupPrefetching` with a completely empty function titled `test`.
- Simply moving the function into an extension fixed the error (as did moving it elsewhere within the Coordinator definition, however I opted to stick with the extension).

I have t

[2019-10-18 08:19] apptekstudios commented on #13
@janandre Closing this issue after further testing of 0.9.1. Please let me know if you think it needs to be re-opened

[2019-10-18 08:19] #13 closed

[2019-10-20 17:21] janandre commented on #13
Works great, thanks!

[2019-10-20 17:22] janandre commented on #14
Perfect,
Now I don't need my fork anymore. :)

[2019-10-20 19:19] janandre opened #18 "EXC_BREAKPOINT on didEndDisplayingCell"
**Error:** Thread 1: EXC_BREAKPOINT (code=1, subcode=0x1de7daa94)
**XCode Version:** Version 11.2 beta (11B41)

<img width="996" alt="Bildschirmfoto 2019-10-20 um 21 09 29" src="https://user-images.githubusercontent.com/9200290/67164862-1463ed00-f37f-11e9-8cae-485d84da601c.png">

Initialized ASCollectionView in the most simple way.

<img width="789" alt="Bildschirmfoto 2019-10-20 um 21 19 00" src=

[2019-10-20 19:27] janandre commented on #18
I can get it working by setting a frame height. Also the store is a @ObservedObject using the combine Framework. So changes are published to SwiftUI.

[2019-10-20 20:09] janandre opened #19 "ASCollectionViewLayoutFlow calculates widths are wrong"
As a user I want to get a simple flow layout working by using ASCollectionViewLayoutFlow.

Using ASCollectionViewLayoutFlow with simple Text Views does not result in the expected output.
I would expect that the Text can grow in width until the collection view width (vertical scroll) is reached. But even a small text gets truncated at the moment.

[2019-10-20 22:08] #18 closed

[2019-10-20 22:19] apptekstudios commented on #18
Sorry it seems my PR automatically closed the issue. I added a bounds check and this should now be fixed.

- if the number of sections / items was reduced, the didEndDisplaying / didDisappear code may have attempted to access an index out of bounds.

[2019-10-20 22:23] apptekstudios commented on #19
Try defining your layout using UICollectionViewFlowLayout instead. The new compositional layout seems to fall short when trying to do flow layouts. I'm contemplating removing that ASCollectionViewLayoutFlow and replacing with one using UICollectionViewFlowLayout.

[code]

[2019-10-21 10:02] apptekstudios commented on #19
@janandre I made a screen in the demo app that serves to test a custom FlowLayout and ObservableObject as a data source. Hopefully this helps!

Thanks for pointing out the problems you're having, it's very helpful to improve this project 👍

[2019-10-21 17:59] janandre commented on #19
Thanks a lot! I will try it.

No problem, there is an urgent need for a cool SwiftUI Collection View implementation.
Keep up the good work!

[2019-10-21 18:12] janandre opened #23 "Fatal error: Can't form Range with upperBound < lowerBound"
**Error:** Can't form Range with upperBound < lowerBound
**XCode Version:** Version 11.2 beta (11B41)

Occurs when reloading SwiftUI view VERY fast.
Create a button that is reloading the collection view with changing amount of items.
Click that button very fast.

I admit this is an unusal user interaction but as it reloads on changes in Combine those could fire more often for some setups.

In my s

[2019-10-21 22:33] apptekstudios commented on #23
When you  get a chance could you please test this using the dev branch. https://github.com/apptekstudios/ASCollectionView/tree/dev

I think the culprit is `suffix(from:)` not being bounds safe - so I reworked the prefetching code to use subscripts. Hopefully that has fixed this error! I don't have a test project at the moment that can reproduce it, so please let me know if it is indeed fixed 🙂

[2019-10-22 06:34] janandre opened #24 "EXC_BAD_ACCESS when choosing release build configuration"
**Error:**  EXC_BAD_ACCESS (code=1, address=0x0)
**XCode Version:** Version 11.2 beta (11B41)

When selecting release build configuration in my scheme, ASCollectionView crashes.

I tried to track down a bug in my app where the collection view loaded fine in development builds.
The TestFlight version does not crash but is not loading the content on first change of the data behind. When setting the

[2019-10-22 06:42] janandre commented on #24
The collection view is there (without showing data) on view appear.
It crashes in Release Build Configuration when I press a button that is presenting a `.sheet`.
With development configuration all is stable, also the initial data loading is no problem.

[2019-10-22 12:36] apptekstudios commented on #24
Now that was a tough one to track down! It seems the swift compiler doesn't like generic subclasses of generic classes (at least in release configuration).

I've reworked the implementation of ASHostingController to avoid a generic subclass and this crash is now fixed :) Tested on both stable XCode and the latest beta 👍

[2019-10-22 12:38] apptekstudios commented on #19
Closing this issue 👍 I did end up removing ASCollectionViewLayoutFlow until Compositional Layout gets better support for flow layouts. The new demo screen ("Tags") should provide a good example of how to achieve a flow layout.

[2019-10-22 12:38] #19 closed

[2019-10-22 16:45] janandre commented on #24
Can confirm, this is resolved!
Great work, thanks for that fast fix!

[2019-10-22 20:48] #24 closed

[2019-10-23 00:49] apptekstudios commented on #23
@janandre Is this resolved for you in the latest release?

I didn’t manage to reproduce the crash in any of my test projects, so haven’t been able to check whether the changes have indeed fixed the issue.

[2019-10-23 00:52] apptekstudios opened #27 "TODO: Further documentation of ASCollectionViewLayout and related"

[2019-10-24 18:22] janandre commented on #23
Seems resolved! If I reload very quickly I don't get crashes!

[2019-10-24 18:28] janandre opened #28 "Issue with initial loading on release builds"
The last days I try to track down a bug that is not there when running my app with XCode development builds. But TestFlight Beta Builds / Production builds have this problem.

The app is SwiftUI from the start.
- ScenesDelegate > NavigationView > Main View
The main view has a `Store` which is set as environment object.
This store is an `OberservableObject` and has an `@published Array`.

The main

[2019-10-24 18:41] janandre commented on #28
Update:
The problem is with release builds. BUT not when running them with XCode and debugger.
It's only if the build is installed on the real device and the app is started there normally. (Not from Xcode)

[2019-10-24 19:20] janandre commented on #28
I got a work around for my project.
Within the navigation view I first show a loading screen.
The store got a `initialized` variable and only then the main view is shown.
That way the View and ASCollectionView renders right also in Production Builds.

I guess its a reloading issue because the array is created empty as default and shortly after that content is added. All that during loading of the

[2019-10-24 23:36] #23 closed

[2019-10-24 23:53] apptekstudios commented on #28
Hmm that is a strange issue, my guess would be some sort of SwiftUI lifecycle issue.

I'm curious to see the visual result if you do the following in the `ASCollectionViewCell` class. This is just to check if the cell's `willAppear` method is being called correctly.

Set background to blue in the `setupFor` method:
[code]

Set background to orange in the `willAppear` method:
[code]

[2019-10-31 02:02] apptekstudios commented on #28
Please test this with v0.9.5 👍 I made some changes to work around a few SwiftUI lifecycle bugs. Hopefully it has resolved this issue

[2019-11-02 00:05] #12 closed

[2019-11-02 00:05] #27 closed

[2019-11-06 12:25] #28 closed

[2019-11-06 16:27] toyinswift opened #37 "Update Readme"
Please update the readme with very basic usage example.
Am an android developer learning SwiftUi, so all these can be a little daunting!

Here is what i tried but am getting errors:

[code]
found that Grid example on stackoverflow. But am am getting this error message in Xcode
"Use of unresolved identifier 'ASCollectionViewLayoutGrid'"

[2019-11-06 23:04] apptekstudios commented on #37
Thanks for trying out this library :) I've added an example to the readme that demonstrates a collectionView with a single section. I also went and edited the stackoverflow answer as that was for an earlier version of this library.

Here's an example with the current version:
[code]

[2019-11-06 23:04] #37 closed

[2019-11-06 23:10] apptekstudios commented on #37
To make sure you're using the latest version you'll likely need to go to File → Swift packages → Update to latest package versions 👍

[2019-11-08 12:31] nferruzzi opened #42 "Question about flows: how would you bind the width of an element to an external slider ?"
Hi,
thanks for the package! I'm evaluating it and at the moment work like a charm (on both iOS and catalyst). I've been trying to make a custom layout pinned to an external @State .. something like this based on your `PhotoGridScreen`

[code]

but the layout is not refreshed when I move the slider, I also need to resize the parent view (I've built the Demo for catalyst). So the question is, how ca

[2019-11-08 13:19] nferruzzi commented on #42
Can it be that the closure result is cached somehow? because sometimes I can see the value being the initial one (minWidth: 0.5) even if the slider has a different value

[2019-11-08 13:32] apptekstudios commented on #42
Thanks for trying out the library @nferruzzi . This behaviour is actually expected by default, although this certainly is a use case I’d like to support. At current it seems UICollectionViewCompositionalLayout doesn’t allow changing the sectionProvider after it is initialised. This means we would need to recreate the layout object every time the view is updated to keep the closure in sync. However

[2019-11-08 16:44] nferruzzi commented on #12
just wondering if this is close because the support is done or because has proven to be not needed or too difficult . Thank you

[2019-11-09 00:07] apptekstudios commented on #42
Quickly implemented a demo of how to achieve this. It did require adding a setting to ASCollectionView, and I'd like to give the implementation / API a little more thought before moving into master, so just a branch for now:
https://github.com/apptekstudios/ASCollectionView/tree/layoutInvalidation

If you download this branch and run the demo project (go to 'Experimental: adjustable layout) you ca

[2019-11-09 00:20] apptekstudios commented on #12
Was closed as the library is working well with Catalyst :D

In the long term would like to consider implementing a mac version using NSCollectionView, but we plan to use catalyst so no need at current.

[2019-11-09 10:28] nferruzzi commented on #42
thank you! the demo works great, I've also noticed that it doesn't make a difference if `shouldInvalidateLayoutOnStateChange` is true or false, from my tests it always recreates the proper layout; is this an expected behavior or a misunderstanding on my side of the property?

BUT: no matter what I do, when I recreate the same structure on my project (state class, layout, stepper) it doesn't work a

[2019-11-09 10:39] nferruzzi opened #43 "MacOS catalyst 10.15.1 - Assertion failure in -[_UICollectionLayoutItemSolver _solveGroup]"
**Describe the bug**
So basically after I've upgraded from 10.15 to 10.15.1 most Dem layouts just crashes with the exception below (tags, and magazine are working fine).

**To Reproduce**
Run the Demo project enabling Catalyst

**Expected behaviour**
Working like in the sim

**Screenshots**
[code]

**Xcode Version:**

XCode 11.2
MacOSX 10.15.1

**Simulator, Device, Both?**
Sim is ok
MacOSX catalys

[2019-11-09 10:56] apptekstudios commented on #43
I hit the same bug today after upgrading :(

It is most definitely a bug in the catalyst version of UICollectionViewCompositionalLayout. Very unfortunate they let this reach a public release.

The exact same crash is happening with apple's own demo project when you run the ios project on catalyst (https://developer.apple.com/documentation/uikit/views_and_controls/collection_views/using_collection_

[2019-11-09 11:03] apptekstudios commented on #42
Is your class an ObservableObject and referenced as `@ObservedObject`? If a class is referenced as `@State` it won't trigger a reload of the view.

Otherwise the only thing I can think is to check: does it respond as expected if you rotate the device? (because that forces the layout to recalculate)

[2019-11-09 11:09] apptekstudios commented on #42
Regarding the layout updating regardless of `shouldInvalidateLayoutOnStateChange`:
- that property simply ensures that the layout does get invalidated
- quite often the layout object will actually invalidate itself automatically when the data is updated.

[2019-11-09 14:41] tarasis commented on #42
I'm grateful you are working on this, and produced this experiment branch so quickly. This is exactly the feature that was missing for me from this library.

I had been using a different gridding library which was fine with a handful of cells, but after a few hundred became useless. I tried a bunch of others yesterday with largely similar results.

Today I just tried this one and it worked great.

[2019-11-09 16:35] tarasis commented on #42
By chance is it not compiling? I think I'm hitting the same thing. My data source (array of a class) works fine when supplied to ASCollectionView, but when I try and use It with ASCollectionViewSection it reports an error:

"Cannot convert value of type '[MyClassName]' to expected argument type '[_]'"

[2019-11-09 16:50] nferruzzi commented on #42
No mine compiles fine is just it doesn't update in realtime like the demo project. When I replace my View containing the ASCollectionView with the one of this experimental branch it doesn't work either so its not the layout for the model is something not correlated at all.  I think I'm hitting some weirdness of SwiftUI because I found out after hours of tests that my problem is linked to the prese

[2019-11-09 16:53] nferruzzi commented on #42
@tarasis about your problem, I've seen many times the compiler pointing out errors in the wrong place. Especially with the complex types inference of swiftui. The problem you have maybe a typo somewhere else, double check your code commenting out sections, this is what I have to do way too often.

[2019-11-09 17:16] tarasis commented on #42
Thanks, yeah, I was passing a string to ASRemoteImageView rather than a URL, but the compiler was perfectly happy with the line, and was saying it was an issue with the data model.

[2019-11-09 18:17] tarasis commented on #42
Now working, thanks @nferruzzi.

Is it possible to have the layout reflect the change to the number of columns as the datasource is being loaded?

From what I see the change to the number of columns by the stepper (or slider) won't happen until the datasource has finished loading & I swap away from the view and back to it (switch to a different tab and then back).

The same is true if I swap to th

[2019-11-09 23:10] apptekstudios commented on #42
@tarasis Are you finding the above issue in the demo project or with another project? It would be fantastic if you're able to reproduce it in a demo so I can troubleshoot :)
It sounds to me as though your layout closure may be capturing a value type (as opposed to a class type). Add a print statement to your layout closure and check whether A) it is being called when you change the stepper, and B)

[2019-11-10 00:01] tarasis opened #44 "SwiftUI incorrectly reusing ASCollectionView within TabView (with workaround)"
I have an issue where sometimes the ASCollectionView disappears from a Tab when I go to another tab containing an ASCollectionView. This never happens if I switch to a different tab in-between.

See attached video. The **Following** and **Test** tabs are virtually identical code (basically AdjustableGridScreen with an additional filter text field that isn't visible or being used), except attached

[2019-11-10 00:08] tarasis commented on #42
@apptekstudios this issue is in my project. Will try and sort a demo out for you. (For the other issue I just separately raised, I've seen in my app but have also recreated in your demo app with a hack to add a second tab)

[2019-11-10 00:15] apptekstudios commented on #44
This sounds as though SwiftUI is erroneously deciding to use the same underlying ASCollectionView for each screen.

I'm curious, if you use the swiftUI `id` modifier with a different ID on each ASCollectionView does the error still occur? This is obviously very hacky, but I suspect this is a swiftUI bug.

eg:
[code]
and
[code]

[2019-11-10 00:16] tarasis commented on #44
Should add on the iPhone(6S) I'm running iOS 13.3beta, and on the iPad its iPadOS 13.2. Both exhibit the bug but at different rates. Code compiled in Xcode 11.2.1 GM.

Using the Hacked Demo app:

On the iPad running 13.2, the disappearing ASCollectionView happens as soon as I swap to the second tab from the first tab.

On the iPhone running 13.3beta it only occasionally happens

[2019-11-10 00:17] tarasis commented on #44
Will give it a try and report back. Agreed that It does sound like a SwiftUI bug and that's what it appears to be doing, although interesting that it correctly keeps the data sources different.

[2019-11-10 00:36] tarasis commented on #44
Yes that works great on the iPhone, the column changes only apply to the particular tab. After a bunch of swapping back and forth, there is a momentary glitch which breaks the stepper.

On the iPad, I can change the number of columns in the first tab, but immediately when I swap to the second tab, the stepper breaks and doesn't work. (the -+ suddenly appear above "Number of columns"). Good news is

[2019-11-10 01:23] apptekstudios commented on #42
@nferruzzi
I realised perhaps SwiftUI is not calling the `updateUIViewController` method as it doesn't think the LayoutInfo class is relevant to ASCollectionView. Can you put a breakpoint in `updateUIViewController` and see if it is called when you change the stepper?

If so, try wrapping ASCollectionView in the following:
[code]

[code]

[2019-11-10 11:24] nferruzzi commented on #42
tried ! and as strange as it sounds, unfortunately, it makes no difference. But thanks for helping out :)

I'm quite sure the problem with my project is not correlated to the ASCollectionView so I think we may close this bug when the patch you made reach master. But at the moment I'm not so sure I needed it in the first place XD

When I see the bug/problem on my project, as you pointed out, it loo

[2019-11-10 11:57] #42 closed

[2019-11-10 12:03] apptekstudios commented on #42
Merged these changes into the master branch. Closing the original issue for now :)

@nferruzzi That is very strange that an environment object elsewhere is causing issues, I think you'd be right about it being some sort of swiftUI or compiler issue.

@tarasis If you're still having the problems regarding layout update as discussed above please open another issue so we can keep working on that 👍

[2019-11-10 12:17] tarasis commented on #42
@apptekstudios will do. Haven't had a chance yet to try and distill the project to be able to send you a copy. Certainly still unable to change columns as the data is being loaded.

[2019-11-10 13:20] tarasis commented on #44
Not sure whether to keep this issue open. It is a problem, but it is caused by a SwiftUI bug. The .id() hack does work.

The stepper and slider breaking when swapping between tabs is definitely a separate SwiftUI bug. Created a simple project that shows the issue and have submitted a bug report to Apple.

Zipped video shows the controls breaking views are just a VStack, the control and the text vi

[2019-11-10 14:04] nferruzzi commented on #42
@apptekstudios I found the problem at the end it was me misinterpreting where `ObservedObject` are stored.. they are not like @State that persistent values, they are just wrapped properties that create binds on the fly for keypaths. So if you create them locally once your View is recreated they are recreated too.

Basically all I had to do in my project was moving `layoutState` outside of the View

[2019-11-10 15:47] nferruzzi opened #46 "Layout is created on `makeUIViewController` only, therefore custom layouts are not really updated"
Hi,

I'm back with the same story but in a different sauce and still talking about the `AdjustableGridScreen`.
A few hours ago I understood that my columns were not changing due to 2 distinct problems, the first one is solved and the second one is what I'm writing about now.

First a short recap:
my observable object state was living within the screen itself, therefore losing all its custom values

[2019-11-10 21:24] tarasis commented on #42
Can confirm @nferruzzi findings, moving the LayoutState class creation outside of the view helps. Doing so means that the number of columns can be changed as the data source is still being loaded.

[2019-11-10 22:43] apptekstudios commented on #46
It's funny you suggest `shouldRecreateLayoutOnStateChange` because I'd already made that exact thing on my local branch! I've now pushed that to master.

However, I'd recommend **against** using that wherever possible, because UICollectionView tends to handle layout object changes quite poorly, therefore:

To make it super easy to update a custom layout, I've added a configuration handler that wil

[2019-11-10 22:44] #46 closed

[2019-11-10 22:47] apptekstudios commented on #46
It closed the issue automatically when I referred to it in the pull request, feel free to reopen if this isn't fully addressed 👍

All these changes are now on master, and released in version 1.1.3

[2019-11-11 00:03] nferruzzi commented on #46
funny as we arrived at the same conclusion :) will test the changes and report back if something still causes problems. Meanwhile, thank you very much for your support!

[2019-11-11 08:36] #9 closed

[2019-11-11 08:38] apptekstudios commented on #9
Resolved by manually implementing the header/footer methods

[2019-11-11 08:41] tarasis opened #50 "Adding .onLongPressGesture {} breaks scrolling unless you also add .onTapGesture{}"
**Describe the bug**
If you add .onLongPressGesture to whatever is being displayed in ASCollectionView, you can no longer scroll the collection view, unless you manage to touch on the space left by insets.

The workaround appears to be to add .onTapGesture{} before .onLongPressGesture{}. (after doesn't work)

**To Reproduce**
In the ASCollectionView demo app, open AdjustableGridScreen,
In the **AS

[2019-11-11 08:45] tarasis commented on #50
Appears to be another SwiftUI Apple Bug, same behaviour happens on a List {} view.

[2019-11-11 08:47] apptekstudios commented on #50
Thanks for reporting the issue :)

I think this one is down to SwiftUI and not much we can do unfortunately (other than file a radar). Thanks for coming up with a workaround! Sounds as though the LongPress gesture is swallowing touches and not allowing other simultaneous gestures

[2019-11-11 08:53] tarasis commented on #50
Agreed that its SwiftUI, not your class. Felt it was worth flagging incase someone else hits it.

Will be filing a radar shortly :)

[2019-11-15 06:39] jurekbarth opened #52 "Add feature scrollToItem"
I have a feature request, that might fit in the scope of your library.

On a UICollectionView we have the possibility to `scrollToItem(at:at:animated:)`  is that somehow already possible or are you planning to add such features?

Thanks in advance.

[2019-11-15 07:47] apptekstudios commented on #52
Thanks @jurekbarth, that sounds like a good addition to make. I should have time in the next few days to implement it.

To give an idea of potential use cases when deciding on the API...
Do you envision this being called in response to a button press? Or when the collectionview appears? Or something else?

[2019-11-15 07:56] jurekbarth commented on #52
@apptekstudios awesome! I would use it when the collection view appears. I want to add a photo gallery and therefor mimic what the iOS Photos App does. So i would like to start from the bottom of the collection view with the "newest" images.

[2019-11-17 13:29] apptekstudios commented on #52
@jurekbarth This is now implemented in the `dev` branch. I've included a demo page showing this with the photo grid :) After further testing will push this into master.

Please let me know if you've got any other suggestions!

[2019-11-18 00:03] juliuste opened #53 "question: automatic height with UICollectionViewFlowLayout"
Hey! First of all, thank you very much for providing this package, it's really useful.

*Dislaimer: I'm sorry for asking a question here, and I completely understand if you don't have time to answer, but I was unable to solve this on my own after digging for quite some time.*

I used the `tags` demo layout in my app. Is there any way to make the Collection view resize automatically to the height o

[2019-11-18 01:25] apptekstudios commented on #53
Thanks for checking out the package 😄

This is quite difficult to achieve with the currently available swiftUI APIs. I've managed to get it working, but not as neatly as I would like 👍

See the demo project in the [`shrinkToContentSize` branch](https://github.com/apptekstudios/ASCollectionView/tree/shrinkToContentSize)

It requires you to create a @State variable holding an optional CGSize value,

[2019-11-18 01:26] apptekstudios commented on #53
I'd like to give more thought to the cleanest way to achieve this before moving it to master, so feel free to point your project to that branch in the meantime :)

[2019-11-18 19:12] juliuste commented on #53
Thank you very much for the quick response! Unfortunately, I wasn't able to reproduce the fix, previewing the `tags` view in the demo repo on the `shrinkToContentSize` branch gives me the following:

<img width="408" alt="wrong-size" src="https://user-images.githubusercontent.com/1584289/69082036-965b3a80-0a3f-11ea-91b2-2826bd4c2c63.png">

Maybe I did something wrong with my xcode, does the previe

[2019-11-18 22:42] apptekstudios commented on #53
That's strange, I'm getting the following:
![SimScreenShot](https://user-images.githubusercontent.com/13492172/69100133-3ba9f900-0aa8-11ea-8c16-d9b03b574543.png)

What version of XCode are you running? I might need to test on a different version (I'm on 11.2.1 GM)

[2019-11-18 22:55] apptekstudios commented on #53
Ah I just realised you're referring to the XCode Preview. This is expected behaviour unfortunately, as the preview doesn't do a second layout pass (required to retrieve and set the collection height after laying it out). If you press the play button on the preview it should then appear as expected.

[2019-11-18 22:56] juliuste commented on #53
Aah, my bad. The preview somehow rendered it wrong, but it's displayed correctly when running the app in the simulator, or when activating the live preview, which probably makes sense given the way this workaround fixes the problem.

So everything should be fine now, thank you very much again for your time and help, I really appreciate it!

[2019-11-18 23:03] juliuste commented on #53
One last question, just in case you left it in accidentally: This branch currently always makes the background of the tags green (not only in the demo, but also if you use the package elsewhere). I guess this was for debugging reasons, I just wanted to make sure you left it in intentionally (if so, no problem, I can fork this).

[2019-11-18 23:04] apptekstudios commented on #53
Should be fixed in the latest version of the branch :)

[2019-11-18 23:07] juliuste commented on #53
PS: If you have any place where one can donate a little for your effort, I would be happy to give $10 for this (I know, not much, but maybe at least enough for a coffee in 🇦🇺)

[2019-11-18 23:28] apptekstudios commented on #53
Thanks Julius! I do have a [buymeacoffee page here](https://www.buymeacoffee.com/tobeasbrennan) 😄

Please feel free to make further feature suggestions if you come across things that are missing from the library 👍

[2019-11-19 06:58] jurekbarth commented on #52
@apptekstudios thank you for your efforts. It works as expected and if you read the source code you also see the different possibilities.
I think yet another example to showcase "scrollTo" specific item might be a nice addition, e.g. `.initialScrollPosition(.centerOnIndexPath(IndexPath(item: 300, section: 0)))` even though i'm not sure if that would be the approach to go for :)

[2019-11-19 17:54] nferruzzi opened #54 "NavigationLink crashes on pop"
I got a crash adding a simple `NavigationLink` in the PhotoGridScreen

[code]

Tapping works but when I tap the "<" back button it crashes with this error

[code]

[2019-11-19 22:33] apptekstudios commented on #54
Sounds like another SwiftUI bug :(
Here’s the same bug happening when a navigation link is used in the nav bar: https://stackoverflow.com/questions/58404725/why-does-my-swiftui-app-crash-when-navigating-backwards-after-placing-a-navigat

I’ll have a look later today if I can find a satisfactory workaround 👍

[2019-11-20 00:37] apptekstudios commented on #54
Just tested on iOS 13.1, and the above code [works perfectly.](https://drive.google.com/file/d/1KTU82OQa_yXB5jIpHi1Km6hNWy_JRyiR/view?usp=sharing) This is a bug introduced with 13.2 and relates to the link I posted above.

Unfortunately, on testing the 13.3 beta it's still present - I'm going to try and come up with an alternative solution - will keep you posted 👍

[2019-11-20 10:34] nferruzzi commented on #54
I start believing apple fails hard in automated tests, we should be paid for being their beta testers! thanks for looking for an alternative :)

[2019-11-20 12:42] apptekstudios commented on #54
I've created a little library designed to work around this bug 🤓
[ASNavigationView](https://github.com/apptekstudios/ASNavigationView)
It is very minimal currently, but might allow for some useful navigation features in the future!

Demo usage in the PhotoGrid screen on this branch: https://github.com/apptekstudios/ASCollectionView/tree/navigationFix

Hopefully this is helpful! It's frustrating th

[2019-11-20 15:05] nferruzzi commented on #54
I'm happy you got the coffee and the bug as a motivation to make a new library ;) !! Ill try it and see if it avoid the crash on my project too :) thank you and let us know if you need more caffeine :)

[2019-11-22 04:31] apptekstudios commented on #54
@nferruzzi Just pushed a newer version of ASNavigationView. It allows for some more advanced navigation, such as popping back to a specific screen :)

I'm away for the weekend with no laptop so won't be able to do any further work until monday, hopefully this is useful to you 😄

[2019-11-25 02:07] tarasis commented on #54
Doesn't appear to build. Just checked it out to test, get 4 compile errors:

`ASNavigationButton(screenName: "PHOTOGRID", destination: PhotoGridScreen())
				{
					Image(systemName: "1.square.fill")
					Text("Photo grid (with edit mode, selection)")
				}`
Generates:

The two calls to  `ASNavigationPopToRootButton` generate

If I search the project, I see ASNavigationButton in the Framework>Demo

[2019-11-25 02:23] apptekstudios commented on #54
@tarasis I’ll check what’s happening when I get back from holiday tomorrow, but it sounds as though the framework isn’t being included in the demo project target - I may have forgotten to commit the xcodeproj file!

[2019-11-25 11:46] apptekstudios commented on #54
@tarasis I had forgotten to push my last local commit to github sorry! Should be working now 👍

[2019-11-25 12:46] tarasis commented on #54
@apptekstudios can confirm it now works, cheers👌

[2019-11-26 02:48] #53 closed

[2019-11-26 03:19] apptekstudios commented on #52
Good idea, I'll try to incorporate the scrolling to a particular item into an example at some point! Merging this into master soon 👍

[2019-11-26 03:19] #52 closed

[2019-11-27 06:09] randomiser opened #57 "Cocoapods support"
Great product. Thanks for making it available.

Any chance you could set this up to work with Cocoapods? (The online build tool I'm using doesn't support SPM.)

[2019-11-29 00:07] apptekstudios commented on #57
Glad you're liking the package @randomiser 😄

Unfortunately I won't have time in the near future to implement a cocoapod (we've transitioned to using SPM only), but would welcome a PR if you need to do it for your build tool 👍

[2019-11-29 07:50] sorin36 opened #58 "In RemindersScreen sectionHeader and sectionFooter are not displayed"

[2019-11-29 08:07] #58 closed

[2019-11-29 08:08] apptekstudios commented on #58
Thanks for spotting that @sorin36

Because it is creating a custom layout section, the demo needed to add headers/footers to the NSCollectionLayoutSection...
[code]

[2019-12-17 23:31] apptekstudios commented on #43
Fixed in MacOS 10.15.2 🎉

[2019-12-17 23:31] #43 closed

[2019-12-30 10:58] ryangittings opened #59 "Enviroment Data lost in SwiftUI view"
When using an environment object, or any data in the environment, e.g. managed object context, it causes an intermittent crash.

**To Reproduce**
Steps to reproduce the behaviour:
- Create standard grid with ASCollectionView
- Using environment to pass data to SwiftUI view (managedObjectContext is a good example)
- Experience crash

**Expected behaviour**
- No crash, or documentation on expected b

[2019-12-30 11:32] apptekstudios commented on #59
Thanks for reporting the issue @ryangittings. This is unexpected behaviour, the environment objects should be getting carried across to the cells...

I haven't been able to reproduce the crash with EnvironmentObject or managedObjectContext. Do you have any simple demo that reproduces the crash?

A few questions to help narrow it down:
- are you accessing the environment / environment object outsid

[2019-12-30 12:50] ryangittings commented on #59
I found it was when using a tab view and switching between the tabs.

Nope it’s in the view body; I’ll see if I can reproduce the exception as soon as I can.

That was the workaround I’ve used, thanks for that!

[2019-12-30 13:54] ryangittings opened #60 "Demo for infinite collection view list?"
Hey, definitely isn’t an issue but it’d be great to get some advice on the best way to implement and infinite loading list (get to the bottom of the section within a scroll view and for it to load more cells).

Cheers!

[2019-12-31 07:36] jhoughjr opened #61 "Feature Request: macOS support"
Just importing UIKit means it won't build on Mac.
It's possible conditionally importing AppKit would make it macOS compatible.

[2019-12-31 10:21] apptekstudios commented on #61
ASCollectionView is compatible with Mac Catalyst apps (using UIKit) 🎉

It won’t work with AppKit without some substantial changes as that would require implementing support for NSCollectionView. This isn’t on the roadmap for us, however we would welcome a PR if anyone does implement it 👍

[2019-12-31 10:21] #61 closed

[2019-12-31 11:16] magnas35 opened #62 "How to initialise ASCollectionView with FetchedResults from a @FetchRequest?"
When I supply my FetchedResults to the `data` parameter of the initialisation method I get "Cannot convert value of type 'FetchedResults<Place>' to expected argument type '[_]'"

Is there a way to feed the ASCollectionView with my managedObjects directly? I'm currently working around the problem with an array of data (maintained in parallel with the fetchedResults) limited to visible cell content.

[2019-12-31 14:57] ryangittings opened #63 "Detail view with NavigationLink resets @ObservedObject"
Hey,

When using a collection view, the detail view with NavigationLink resets @ObservedObject. I think this has more potential to be a SwiftUI bug, but wondering if there's any workarounds?

Cheers for this great repo!!

[2020-01-01 00:54] apptekstudios commented on #60
Good idea! I've gone ahead and added support for an `onReachedBoundary` closure 😄. It is currently in [its own branch here](https://github.com/apptekstudios/ASCollectionView/tree/onReachedBoundary). Will do some further testing before moving it to master - would appreciate feedback if it works for your use case :)

Should be very straightforward from there to load more data when the closure is cal

[2020-01-01 00:55] #57 closed

[2020-01-01 01:00] apptekstudios commented on #63
If I've understood correctly, this is a byproduct of the way swiftUI holds onto state. Easiest workaround would be to pass the observable object from a view higher in the hierarchy than the navigation link.

[2020-01-01 02:03] apptekstudios commented on #62
Thanks for posting the issue @magnas35 :)

This was happening because ASCollectionView was expecting an Array, and FetchedResults is a different type of sequence. I've now implemented support for RandomAccessCollection (which FetchedResults conforms to) [in this branch](https://github.com/apptekstudios/ASCollectionView/tree/onReachedBoundary).

If you use that branch instead it should hopefully wo

[2020-01-01 05:43] apptekstudios commented on #62
Those changes are now in the master, release V1.2 🎉 Please let me know if you can now use `FetchedResults` directly :)

[2020-01-01 05:44] apptekstudios commented on #60
This is now supported in the master branch, and is in the latest release V1.2 🎉

[2020-01-01 12:40] magnas35 commented on #62
Swapped in my FetchedResults and works like a charm. Many thanks!

[2020-01-01 21:05] #62 closed

[2020-01-01 21:16] apptekstudios commented on #54
This was **resolved in 13.3** so closing the issue 😄

There's currently a **simulator-only** bug that means ANY SwiftUI navigation link (unrelated to ASCollectionView) seems to only work once, however the behaviour is **normal on a real device.**

Nonetheless I've still got a more advanced version of ASNavigationView in the works that should solve issues with deep-linking etc in SwiftUI. It's work

[2020-01-01 21:16] #54 closed

[2020-01-02 09:09] ryangittings commented on #60
🤙🏻🤙🏻🤙🏻

[2020-01-02 09:09] #60 closed

[2020-01-03 18:54] ryangittings opened #68 "Thread 1: Fatal error: Index out of range"
Getting a crash on line 194, `parent.sections[sectionIndex].id` in ASCollectionSwift when the views have dynamic sections:

`Thread 1: Fatal error: Index out of range`. Let me know if I can help with anymore debug!

[2020-01-03 22:01] #63 closed

[2020-01-04 01:51] apptekstudios commented on #68
This should now be fixed in the dev branch 👍 UICollectionViewCompositionalLayout was asking for a sections layout when it no longer existed for some reason...

I'll merge to master after some further testing and other changes are ready for the next release :)

[2020-01-04 12:52] ryangittings commented on #68
Thanks so much, and thank you for open sourcing this! 😎

[2020-01-04 16:13] ryangittings opened #69 "Question about: This is used as a workaround for SwiftUI failing to call updateUIViewController for static sections."
Hey,

I have a static section that doesn't update when a subview's data changes. Is this related to that live above where you say:

`This is used as a workaround for SwiftUI failing to call updateUIViewController for static sections.`. If so, do I need to do anything? The view updates when I go back off then back on the view, or open a modal. Once again, might be SwiftUI but any advice would be su

[2020-01-04 16:13] #68 closed

[2020-01-04 20:55] ryangittings commented on #69
I've managed to find the route of the issue, not related.

[2020-01-04 20:55] #69 closed

[2020-01-04 21:18] ryangittings opened #70 "Crash when using .sectionFooter"
Hey,

Receiving the following crash when initialising the ASCollectionView with the following:

`ASCollectionView(sections: self.sections).layout(self.layout)`, which causes the following:

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'could not dequeue a view of kind: UICollectionElementKindSectionFooter with identifier 42E2D4F8-919E-4EFD-9E98-7803857EFA5

[2020-01-05 03:44] apptekstudios commented on #70
I think I've figured this one out. The supplementaries were being registered on the initial setup of the data source, but it wasn't checking if any new ones had been requested since - its possible this edge case was occuring.

Try the `dev` branch and it should work now if that was the cause. I don't have a demo that reproduces it though so couldn't actually check 👍

[2020-01-05 10:58] purkylin opened #71 "orthogonalGrid layout miss interGroupSpacing property"

[2020-01-05 10:58] purkylin opened #72 "orthogonalGrid layout miss interGroupSpacing property"

[2020-01-05 12:03] ryangittings commented on #70
Nice, that works! 💃

[2020-01-05 12:03] #70 closed

[2020-01-05 12:04] ryangittings opened #73 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'At least 1 subitem is required for a group'"
Getting the following error:

`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'At least 1 subitem is required for a group'`

This is on `ASCollectionViewLayout.swift`, line `112`. Once again, if I can help at all let me know! :)

[2020-01-05 13:12] apptekstudios commented on #71
Closing duplicate

[2020-01-05 13:12] #71 closed

[2020-01-05 13:19] apptekstudios commented on #73
Ah this would be related to the fix for #68. To fix the request for a phantom section I returned an empty NSCollectionLayoutSection. It seems this placeholder also needs a sub item configured. I’ll try look at this tomorrow, but I would expect the error to go away if you add a subitem to that placeholder on line 112

[2020-01-05 13:20] ryangittings commented on #73
Legend, I'll await a fix tomorrow! Really appreciate it.

[2020-01-05 13:20] #73 closed

[2020-01-06 00:46] apptekstudios commented on #73
Should be fixed on the `dev` branch now. I still can't actually reproduce a case where that guard statement is actually triggered though.

[2020-01-06 00:50] apptekstudios commented on #72
Try setting the leading/trailing values of the`itemInsets` property on the orthogonalGrid method. We've had trouble with interGroupSpacing acting strangely so left that out in favour of using insets.

There's a need for some work on those convenience layouts, the naming is currently pretty poor.

[2020-01-06 05:52] randomiser commented on #57
Sorry for the late response. Decided to move to SPM instead.

[2020-01-06 09:28] ryangittings commented on #73
It seems to occur for me when you’re on a view and you push to the same view with different data from that view.

[2020-01-06 11:17] apptekstudios commented on #73
This might be due to some unexpected SwiftUI behaviour where it's reusing the UIViewController underlying ASCollectionView instead of making a new one. Try wrapping the different uses of that view with an `.id("SOMEUNIQUESTRING")` with a different string and see if that makes a difference. A similar issue is happening with TabView (#44).

If this is the case: the fix that's currently in place will

[2020-01-10 11:52] magnas35 opened #75 "Support for RandomAccessCollection when initialise ASCollectionView with sections"
Similar to my earlier problem initialising the collectionView with FetchedResults but this time when trying to use sections. The `data` parameter of ASCollectionViewSection still seems to be expecting an `Array` rather than the `RandomAccessCollection` that describes FetchedResults. Can the change you made to the ASCollectionView initialiser (to accept FetchedResults) be made to the section-wise i

[2020-01-10 14:25] apptekstudios commented on #75
Sorry I must have missed those initialisers! I’m overseas at the moment and only have access to my iPad (so it will be a few days) but will fix that as soon as I can.

If you want to attempt a fix on your own branch in the meantime: the initialiser that supports RandomAccessCollection should give an idea of the changes required...

Replace the generic for Data (in the <> section) with `DataCollect

[2020-01-10 14:46] magnas35 commented on #75
Ha no problem! I’m on my phone at the moment so will check later. I’m so happy Xcode isn’t available on iOS or we would be in so much trouble. :)

[2020-01-13 15:19] coaoac opened #76 "Cannot embed in a list or form since version 1.2"
**Describe the bug**
When embedding the ASCollectionView in a List or Form it shows an empty cell.

**To Reproduce**
struct Mock: View {
    let data = ["1"]
    var body: some View {
      Form {
             ASCollectionView(data: data, dataID: \.self) { item, _ in
                  Text(item)
             }
       }
    }
}

**Expected behaviour**
It would ve great if the ASCollectionView showe

[2020-01-14 21:03] alexeyprimechaev opened #77 "Context Menus break Auto Layout"
**Preface**

Not really this library's problem, but it _could_ help solve it by bringing in support for UIKit Context Menu as opposed to relying on SwiftUI's problematic implementation.

**Issue**

The issue is as follows: whenever a Context Menu is accessed, Xcode throws an error regarding some broken constraints — on any view in any configuration (screenshots attached), but sometimes a context m

[2020-01-14 21:15] 1234igor commented on #77
+1

Struggling with same issue and don’t know what should I do.

[2020-01-16 13:32] gdetari opened #78 "Crash in Demo project"
**Describe the bug**
The app starts fine, but then any of the options I choose leads to EXC_BAD_ACCESS. Both simulator and device.

**To Reproduce**
Run demo app, tap on any of the options in the list.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Xcode Version:**
11.2.1

**Simulator, Device, Both?**
Both

[2020-01-17 05:27] apptekstudios commented on #77
I'm currently overseas but will have a look into this as soon as I can! Should be relatively straightforward to implement support via UIKit :)

[2020-01-17 05:32] apptekstudios commented on #76
This seems to be due to SwiftUI ignoring the content size we offer it. There is a workaround...

1) make an @State variable in the view containing your list to hold the contentSize of the ASCollectionView:
[code]

2) tell ASCollectionView to self-size, passing it the above variable:
[code]

[2020-01-17 11:53] alexeyprimechaev opened #79 "Weird layout behavior during scrolling"
**Describe the bug**

Off-screen views are not loaded and appear truncated, and if a cell changes it's content dynamically, the layout breaks completely on scroll attempt.

**To Reproduce**

Not really sure, I guess just load a large amount of data to the ASCV and apply AlignedFlowLayout (one from the tags screen from the demo).

**Expected behaviour**
Layout _not_ breaking?

**Screenshots**
If ap

[2020-01-17 11:59] 1234igor commented on #79
+++
same issue

[2020-01-18 14:37] marcprux opened #80 "Crash "supplied identifiers are not unique""
I got this crash after rearranging items in the "Photo grid (with edit mode, selection)".

[code]

[2020-01-19 11:01] jorditambillo commented on #79
Similar issue when wrapping `ASCollectionView` in ScrollView. It doesn't appear anymore.

[2020-01-19 15:21] ryangittings commented on #79
Similar issue here, my views disappear completely.

[2020-01-20 11:25] apptekstudios commented on #80
The most likely cause of this is that the items are being added in their new position before being removed from there old position (and thus present twice)... I suspect this is strange behaviour relating to UICVDiffableDataSource.

I'm currently overseas but will check this out asap!

[2020-01-20 11:29] apptekstudios commented on #79
Sorry for the delayed response, I'm overseas without regular wifi access at the moment!

Definitely something strange going on :/ Is this new behaviour with the new Xcode version (11.3.1) or had it appeared with one of the recent releases of this package?

[2020-01-20 11:30] apptekstudios commented on #79
See if the workaround I posted here fixes the embedding in ScrollView :) https://github.com/apptekstudios/ASCollectionView/issues/76

[2020-01-20 12:38] alexeyprimechaev commented on #79
No biggie, hope you're having a great time, wherever you are!

I'm not quite sure about the behavior on previous Xcode build, gonna check later today.

[2020-01-20 18:26] jorditambillo commented on #79
I have tried this workaround but still doesn't work for Scrollview as the wrapper.

[2020-01-22 16:16] marcprux opened #81 "TagsScreen does not accommodate long tags"
When the tags in `TagsScreen` are very long, the following errors are repeatedly logged in the console:

[code]

You can reproduce this easily by changing `TagStore` to return very long tags, and then running in a narrow device's simulator (i.e., not the iPad):

[code]

There probably needs some extra sizing logic in the layout to handle the case when the tag's width is wider than the available sp

[2020-01-22 16:21] DanielLeberle opened #82 "Feature: access itemSize in ASCollectionView.Coordinator extension"
Hi everyone,

I don't have a bug but rather a question regarding the implementation and access to the layouts `itemSize` property:
I cloned the repo in order to implement a snapping behaviour by adding  `scrollViewWillEndDragging` right below `scrollViewDidScroll` to the `ASCollectionView.Coordinator` extension and it works as expected with static values for the `itemSize` and `spacing`. Since I u

[2020-01-23 07:46] apptekstudios commented on #81
This is unfortunately just a shortcoming in UICollectionFlowLayout which is used for that demo. I’ll have a look into whether we can pass the collectionView bounds to the cells as a maximum size to work around that 👍🏻 The hard bit will be making that work without affecting other layout types that may want to exceed the horizontal visible bounds...

[2020-01-23 12:58] apptekstudios commented on #75
This is now fixed in the dev branch :) will be in the next release, but you can point to that branch for now 👍

[2020-01-23 12:58] #75 closed

[2020-01-23 12:58] #72 closed

[2020-01-23 13:00] apptekstudios commented on #78
I can’t reproduce this issue, it might be due to one of the bugs in that version of XCode... please try the latest (11.3.1). Please feel free to reopen if it’s still happening then 👍

[2020-01-23 13:00] #78 closed

[2020-01-23 13:05] apptekstudios commented on #82
Which layout class are you using? Is it a UICVFlowLayout?

Also, take a look at the MagazineLayout in the demo project - it shows how you can subclass (from ASCollectionViewDelegate)  and use a custom delegate without needing to modify the project 😄

[2020-01-23 13:20] apptekstudios commented on #76
This is looking more like a swiftUI bug as I investigate. When in a swiftUI scroll view the UIViewController is never getting moved to a parent (and so the UIKit functions aren’t being called) :/

Will dig further but it might call for a UIKit scrollview instead until they fix that

[2020-01-23 13:25] DanielLeberle commented on #82
Hi, thanks for your reply!

I'm using the list layout with only one section and a horizontal direction.

[2020-01-24 00:01] apptekstudios commented on #82
It’s worth checking out the orthogonal scrolling support in UICollectionViewCompositionalLayout as it can automatically give you paging behaviour. See the AppStore page in the demo app. Or [see this blog post for an example](https://dev.to/kevinmaarek/replicating-the-appstore-s-collectionviewlayout-orthogonal-in-swift-5-42je)

Because of the way UICollectionViewCompositionalLayout it’s very diffic

[2020-01-25 20:56] sjmueller opened #83 "Section header for Waterfall layout?"
When adding a `.sectionHeader` modifier to a collectionview with `ASWaterfallLayout`, the section doesn't show up anywhere. If I remove the custom layout, then i see the header just fine.

Is there any current way to achieve a section header with the waterfall layout?

[2020-01-26 03:46] foolbear opened #84 "Tags disappear when running if Tags as part of List Item."
**Describe the bug**
I put the demo(TagsScreen) tags into list item, but it disappear when running.
[code]

**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Xcode Version:**
-

**Simulator, Device, Both?**
- Where is the problem occuring

[2020-01-26 08:43] apptekstudios commented on #84
Closing as a duplicate of #76

This is definitely a reproducible bug and is secondary to a SwiftUI bug, I’ll hopefully have a workaround up soon :)

[2020-01-26 08:43] #84 closed

[2020-01-27 12:32] apptekstudios commented on #83
I hadn't actually added support yet, however I got a chance today to add it 🎉

I've pushed it to the [dev branch](https://github.com/apptekstudios/ASCollectionView/tree/dev) 👍 Will move to master with the next release

[2020-01-27 12:32] #83 closed

[2020-01-27 13:06] apptekstudios commented on #77
@alexeyprimechaev @1234igor

I've made a start by adding support for `UIContextMenuConfiguration` [to the dev branch](https://github.com/apptekstudios/ASCollectionView/tree/dev). See the 'magazineLayout' demo page for an example 🎉.

We could wrap it further to make a clearer struct-based API, however the UIKit method is relatively straightforward and allows for complexities such as nested menus -

[2020-01-27 13:09] apptekstudios commented on #77
I should also note that this seems to fix the SwiftUI bug with dynamicContent/Buttons not displaying 🎉

[2020-01-27 14:08] apptekstudios commented on #76
Hmm definitely a SwiftUI bug that's led to this, I've added a workaround [to the dev branch](https://github.com/apptekstudios/ASCollectionView/tree/dev) so that the collectionView will display as expected 🎉

However, there is a big SwiftUI bug still causing unexpected behaviour... it seems that the contents of ScrollView / List are not getting updated correctly, and if they change in size this is

[2020-01-28 11:26] alexeyprimechaev commented on #77
Wow! I also think that it’s a great implementation as is (miles better than the SwiftUI one which has no support for sections, and nesting, and can’t properly display icons, etc.). Thanks for investing your time in it!

[2020-01-28 11:26] #77 closed

[2020-01-28 12:24] foolbear opened #85 "Trying to pop to a missing destination"
**Describe the bug**
push TagsScreen from RemindersScreen, then back to RemindersScreen...
report "Trying to pop to a missing destination at /BuildRoot/Library/Caches/com.apple.xbs/Sources/Monoceros/Monoceros-39.4.4/UIKit/UIKitNavigationBridge.swift:391"

**To Reproduce**
Steps to reproduce the behaviour:
modify RemindersScreen code like this:
`ASCollectionView
            {
                ASColl

[2020-01-29 05:19] foolbear opened #86 "How can I disable the animation when ASCollectionView refreshing."
**Describe the bug**
A clear and concise description of what the bug is.

I found an animation occurs when ASCollectionView refresh because of data updated or modal view disappear. How can I disable the animation.

There is no animation if just a static ASCollectionView(eg. RemindersScreen demo).

**To Reproduce**
Steps to reproduce the behaviour:

Here is modified source code of RemindersScreen,

[2020-01-29 09:30] MostafaMazrouh commented on #76
@apptekstudios  I have tried your dev branch and it gas the same bug

![Screen](https://user-images.githubusercontent.com/48998803/73344255-19e0a580-4293-11ea-8408-a94fafb4306f.gif)

[2020-02-01 04:18] amrit42087 commented on #86
I am facing same issue, Please let us know when ever any solution will be available

[2020-02-01 07:22] cederache commented on #86
I made a PR allowing this : https://github.com/apptekstudios/ASCollectionView/pull/87

[2020-02-01 23:56] FaizanDurrani opened #88 "Weird stuttering on scroll"
**Describe the bug**
The whole list stutters slightly while scrolling, also, when the view is loaded the list does a weird wobble. Using SDWebImageSwiftUI for image loading

**To Reproduce**
Layout:
[code]
One of the Sections:
[code]

**Expected behaviour**
No stuttering while scrolling

**Screenshots**
https://youtu.be/CBtzpVQD2FE

**Xcode Version:**
11.3.1
-

**Simulator, Device, Both?**
- Devic

[2020-02-02 04:53] adamtow opened #89 "Feature request: Scroll To Position Programatically (? via Binding)"
I would like to be able to programmatically jump the ASCollectionView to the bottom by way of a binding variable. This would replicate the behavior in the Shortcuts application, where you can tap on the Shortcuts tab bar icon to move the collection view to the bottom.

[2020-02-02 21:11] FaizanDurrani opened #90 "List disappears on layout update"
**Describe the bug**
ASCollectionViewSection disappears entirely when you navigate to a new view and come back. It comes back if you scroll

**To Reproduce**
I don't exactly know? I am using the same code posted in #88

**Expected behaviour**
List stays visible

**Screenshots**
https://youtu.be/EKA92UlwtuA

**Xcode Version:**
- 11.3.1 (11C504)

**Simulator, Device, Both?**
- Tested on Device: IPho

[2020-02-02 21:12] FaizanDurrani commented on #90
This also happens sometimes when you switch to and from Landscape mode

[2020-02-03 04:52] sjmueller opened #91 "Fatal error: Reading Environment<UIEdgeInsets> outside View.body"
Getting this error only on iPhone 7+ (iPhone X and 11 Pro Max don't exhibit the error)

![image](https://user-images.githubusercontent.com/29085/73626364-78908100-45fd-11ea-8bdd-50290c28506e.png)

I've tried on `V1.2.2`, `master` and `dev` with the same results, and happens regardless if I actually set `contentInsets` on the `ASCollectionView`. I'm using `ASWaterfallLayout`, but other than that pr

[2020-02-03 10:33] Rahul379 opened #92 "Pagination with ASCollectionView"
How to enable pagination with ASCollectionView. Need to integrate page control.

**To Reproduce**
Not getting any documentation for enabling pagination.

**Expected behaviour**
Way to enable pagination and integrate page controller.

**Xcode Version:**
- 11.3.1

**Simulator, Device, Both?**
- Both

[2020-02-05 06:53] apptekstudios commented on #91
Hmm this might be a SwiftUI bug... I’ve double checked and that function is only being called by the UIVCRepresentable functions and nowhere else so based on the documentation there shouldn’t be a problem. Also very strange it’s only on that device, which iOS version is it running?

[2020-02-05 07:01] apptekstudios commented on #85
Is this crashing or just logging a message? Sounds quite similar to an old swiftUI bug that got fixed in 13.3.0 #54

Which version of iOS/XCode is this happening on?

[2020-02-05 07:06] foolbear commented on #85
@apptekstudios, not crash, just logging.
iOS 13.3.1
Xcode 11.3.1

[2020-02-05 15:31] foolbear commented on #86
@cederache thanks, I wait for next release.

[2020-02-06 05:44] apptekstudios commented on #81
I've added an environment modifier that lets you prevent cells exceeding the contentSize of the collectionView. I've added this modifier, and a much longer tag to the demo screen to show that this is now working :)

This is now in the `master` branch, and will be included in the next release once other fixes are ready 👍

[code]

[2020-02-06 05:44] #81 closed

[2020-02-06 05:53] apptekstudios commented on #86
This fix is merged into master (thanks to @cederache). Waiting on a few other issues to be resolved and will push a new release, in the meantime master is fine to use. Note there has been a few environment modifiers renamed and some other renaming coming up so might need to update those for your project to build 👍

[2020-02-06 05:53] #86 closed

[2020-02-07 14:41] magnas35 commented on #85
I see exactly the same behaviour and error code in my own app.
Also I just have to run the Demo app > Photo grid (with edit mode, selection) > hit any image > hit Explore (to go back to previous view) = error message in log.

[2020-02-07 15:28] magnas35 opened #94 "How to add section headers to custom layouts?"
I saw that you recently added section header support for the WaterfallLayout but how can we add similar support for custom layouts? I can't find the ASWaterfallLayout definition to try to copy the header implementation. Will this be possible do you think? Many thanks.

[2020-02-10 09:57] sdaheng opened #96 "Layout problem when navigationTitle displayMode is large"
**Describe the bug**
When set navigationBarTitle`s displayMode to .large and scroll the collectionView.
There is a gap between navigation bar and collectionView.

**To Reproduce**
Steps to reproduce the behaviour:
In the demo project, PhotoGrideScreen.swift.
Change displayMode to .large.
<img width="805" alt="image" src="https://user-images.githubusercontent.com/1405754/74138909-603bea00-4c2d-11ea

[2020-02-10 12:29] apptekstudios commented on #96
Thanks for creating the issue! Looks like a minor SwiftUI bug... try rotating to landscape and back to portait and voila it works.

I'll have a look if I can find a cause / workaround 👍

[2020-02-10 12:42] apptekstudios commented on #96
I used the view debugger and confirmed that SwiftUI isn't propagating the safeArea change properly. Bug is happening at the level of `UIHostingView` which is unfortunately a private class...

However, there is an easy fix! 🎉 ASCollectionView does respect the safeArea, so just tell SwiftUI to ignore safeAreas and our code will step in :)

Just add the following SwiftUI modifier to the collectionVie

[2020-02-10 12:45] apptekstudios commented on #94
@magnas35 Can you please clarify what you mean by custom layouts? Custom UICollectionViewLayout classes? Or compositional layouts?

If compositional layouts, check the 'App Store' demo page, it demonstrates adding support for headers.

If custom classes, that's up to the layout class to implement... we use `UICollectionView.elementKindSectionHeader` as the supplementary kind for consistency.

[2020-02-10 12:50] apptekstudios commented on #92
If you're using a compositional layout, check out the WWDC videos on the built-in paging support for orthogonal grids - might be helpful.

Otherwise, the way to achieve this behaviour would be to use a custom collectionView delegate. See the `MagazineLayout` demo for an example of a custom delegate. The delegate function of interest would be `scrollViewWillEndDragging` which lets you determine whe

[2020-02-10 12:53] apptekstudios commented on #90
Sorry for the delay getting back to you. This sounds related to a few issues stemming from SwiftUI skipping some UIKit lifecycle calls...
I'm currently working on a version to patch these issues, will let you know when there's a branch available to test 👍

[2020-02-10 13:55] foolbear opened #97 "How to hide/show an ASCollectionViewSection in conditional?"
**Describe the bug**
A clear and concise description of what the bug is.

I found we cannot use if in ASCollectionView, how to hide/show an ASCollectionViewSection in conditional?

[code]

**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Xcode Ver

[2020-02-10 17:02] magnas35 commented on #94
Thank you. I looked at the App Store section and all is good!

[2020-02-10 19:02] mesheilah opened #98 "support for right to left languages"
I've tried several ways in order to change the filling of the collection view to be from right to left but to  no avail, I also played with the project localization too.

Can anybody help me with this issue ?

[2020-02-10 19:50] mkalayci35 opened #99 "How do I get the position while scrolling ?"
How do I get the position while scrolling? I will hide the search bar according to it.

[2020-02-10 23:06] #94 closed

[2020-02-11 08:27] DominikButz commented on #97
the model object in your upperData array should be an observable object. then give it a property with the @Published key word, e.g. @Published isOpen = true .
In the closure, you need to put the GroupLarge view into an if condition .. if model.isOpen { GroupLarge.... }
You can attach a .sectionHeader modifier to the ASCollectionViewSection and e.g. in the section header you put an HStack or just a

[2020-02-11 08:32] DominikButz opened #100 "Drag and drop does not work between sections if the destination section is empty"
Drag and drop does not work between sections if the destination section is empty.  It works within the same section and also between sections if the destination section has at least one item.

I created a on drag and drop event function as shown in one of your examples.

thanks for looking into this.

[2020-02-11 08:44] foolbear commented on #97
@DominikButz  No, I need make a ASCollectionViewSection disappeared if condition is false. your solution is emptying items in ASCollectionViewSection, but the ASCollectionViewSection is still here.

[2020-02-11 08:46] DominikButz commented on #97
yep, you are right.  The trick is to pass an empty array to the ASCollectionViewSection like this:
ASCollectionViewSection<Section>(id: .upper, data: sectionModelObject.isOpen ? self.upperData : [] .....

[2020-02-11 08:51] foolbear commented on #97
@DominikButz

Yes, but it's not what I want. You know, even if a ASCollectionViewSection has no sub items, It still occupy the space in the ASCollectionView, such as header, footer, background and etc.

I just want make a ASCollectionViewSection disappeared totally.

[2020-02-11 08:58] DominikButz commented on #97
So the user can't hide / unhide the section?  In that case just don't create a section. if your data model has empty arrays, e.g. like this dataModel = [[data...], [],  [data... ]] you might want to remove those empty arrays first.
I used a similar  approach as the magazine layout example (check out the example project)

So in the body, the ASCollectionView looks like this

        ASCollectionVie

[2020-02-11 09:05] foolbear commented on #97
I know, thank you, @DominikButz .
Your layout is very simple, you can try RemindersScreen in the Demo.
I think my desired is a basic function. hiding a ASCollectionViewSection, not just hiding items in ASCollectionViewSection. They are not the same.

[2020-02-11 09:36] DominikButz commented on #97
I checked the Reminder layout and this seems to work.
       ASCollectionViewSection(id: Section.upper, data: self.upperIsShown ?  self.upperData : [])
                { model, _ in
                    GroupLarge(model: model)
                }

if the state variable upperIsShown is set to false, the screen looks like this:

<img width="348" alt="Screenshot 2020-02-11 at 17 34 59" src="https://use

[2020-02-11 09:45] foolbear commented on #97
No, please check top spacing of .list ASCollectionViewSection, it's double as usual. There is a 0 size ASCollectionViewSection(.upper).

[2020-02-12 11:57] apptekstudios commented on #97
Thanks for the helpful comments @DominikButz 😊

@foolbear I went ahead and added support for if statements to the function builder. This is now in the master branch, and will be included in the next release. That means you can now do the following:
`if someBoolVariable { ASSection(...) }`

For more complex cases, the approach suggested by Dominik is best... if you construct an array of sections an

[2020-02-12 11:57] #97 closed

[2020-02-12 12:13] apptekstudios commented on #100
Thanks for creating the issue :)

I couldn’t seem to reproduce the problem so would appreciate it if you can do the following debugging steps.

In ASSectionDataSource there is a function `insertDragItems`... using breakpoints could you please check if this is being called when you attempt to drop onto the empty section? If it is, what is the indexPath that it’s being given? Is the function stoppin

[2020-02-13 00:47] Harout360 opened #101 "TableView Pull To Refresh not working"
**Describe the bug**
I'm unable to enable pullToRefresh for tableviews. Even the Instafeed demo that uses pull to refresh doesn't actually pull to refresh. See the following code from the demo:
[code]

Looking into ASTableView, it seems like `func configureRefreshControl(for tv: UITableView)` isn't being called anywhere?

**To Reproduce**
Launch demo, go to instafeed, try pull to refresh

**Expect

[2020-02-13 01:16] Harout360 commented on #101
PR for the fix
https://github.com/apptekstudios/ASCollectionView/pull/102

[2020-02-13 01:19] apptekstudios commented on #101
Thankyou for the issue and PR fix! 😄 Merged, and will include in the next release

[2020-02-13 01:19] #101 closed

[2020-02-13 01:26] apptekstudios commented on #100
I have also just noticed Drag&Drop isn't working at all on 13.4 beta so will be investigating that. I will let you know if I find anything relevant to this issue 👍

[2020-02-13 01:30] apptekstudios commented on #98
I wonder if the setting you are looking for is `UICollectionViewLayout. flipsHorizontallyInOppositeLayoutDirection`.

I will hopefully have time to look into making a setting for this later, but try forking `master` and setting that variable to true on line 87 of `ASCollectionViewLayout.swift`, eg:

[code]

https://developer.apple.com/documentation/uikit/uicollectionviewlayout/2891099-flipshorizon

[2020-02-13 01:32] apptekstudios commented on #89
This is a good feature suggestion 😄This is difficult to get right with the state-based setup of SwiftUI but I will have a think about how to achieve this 👍

[2020-02-13 02:40] adamtow commented on #89
I made a fork of the 1.2.1 release since the 1.2.2 was not compiling for some reason. I made some modifications so I could access the underlying collection view and a subclass for handling key commands in my app LaunchCuts. Now from my app, I can scroll to the top, bottom, and navigating using the keyboard through the collection view.

[2020-02-13 07:09] DominikButz commented on #100
Thanks for your answer.
I set the following break points in the insertDragItems func:
output:
insertDragItems(_:at:) drop enabled
insert drag at indexPath section
so the function is called.

When the drag and drop succeeds (into an empty section) my app crashes.
This debug output comes from the function that is called from the .onRemoveItem event:
destination section 2
destination index path item

[2020-02-13 08:27] apptekstudios commented on #98
Sorry I was mistaken, that property is read-only... Apple docs say you need a custom layout subclass to override it

[2020-02-17 13:57] CPiersigilli opened #104 "HELP Wanted. How to use ASCollectionView with dictionary type [Date:[ImageData]]"
For my app for MacOS with Catalyst  I want to use ASCollectionView for view the images.
I have dictionary type `[Date:[ImageData]]` obtained from:
[code]
where `ImageData` is:
[code]
How can I use ASCollectionView, to see the sections with associated images.
To show the values from `groupedImagesFromDate` I use this code:
[code]
but if I insert `ASCollectionView` don't work.
I hope someone will ex

[2020-02-19 08:12] sjmueller commented on #91
The device was running iOS `13.0`, and upgrading it to `13.3.1` fixed the problem. I have another device that is running `13.2` that I tested and works fine, so I'm guessing this bug was either fixed in 13.1 or 13.2.

[2020-02-19 08:12] #91 closed

[2020-02-24 06:16] Allan121 commented on #99
I'm interested in this as well - I'm looking to implement paged scrolling behaviour.

[2020-02-27 05:27] markbryanramirez opened #105 "Update layout when sizeCategory changes"
How do we force the collectionview to update layout once the user changes the text size?

[2020-02-27 18:57] mwilsoncricut opened #106 "Memory Leak when using ASCollectionView"
It seems as though the ASCollectionView code has a memory leak. I noticed that anytime I display a ASCollectionView in my app the memory jumps and doesn't come back down when the view disappears. You can see the same behavior in the demo project. The issue occurs on the 1.2.2 release as well as on the current commit on master.

**To Reproduce**
Remove the caching functionality from the Demo projec

[2020-02-29 16:17] FaizanDurrani commented on #90
Any updates to this?

[2020-02-29 22:02] FaizanDurrani commented on #90
I don't know why but the items in my section seem to be linked to each other
https://youtu.be/h9VKjFQbxlo

[2020-03-02 07:35] apptekstudios commented on #104
The problem with a dictionary as your datasource is it has no defined order for its contents. You could definitely sort the contents into an array (eg by date) and use that. Someone posted a similar question [here on stackoverflow](https://stackoverflow.com/questions/56675532/swiftui-iterating-through-dictionary-with-foreach)

[2020-03-02 07:35] #104 closed

[2020-03-02 07:37] apptekstudios commented on #106
Hmm thanks for pointing this out. We cache some SwiftUI hosting controllers in order to maintain `@State` variables in cells, however this is having quite a memory impact. I'll look at changing this behaviour in the next release.

[2020-03-02 07:37] #96 closed

[2020-03-02 07:40] apptekstudios commented on #98
For now it seems this requires a custom layout class, so will close the issue as it's outside the scope of ASCollectionView.

[2020-03-02 07:40] #98 closed

[2020-03-02 07:43] apptekstudios commented on #99
For now that could be achieved by jumping outside of SwiftUI and using a custom collectionView delegate. See the MagazineLayout demo for an example of a custom delegate. The delegate function of interest would be `scrollViewDidScroll`.

I'll have a look into making this accessible via a binding, however it doesn't fit very well into a declarative architecture.

[2020-03-02 07:43] #82 closed

[2020-03-02 07:44] apptekstudios commented on #59
Closing this for now as it seems to be resolved in recent versions of SwiftUI. Please feel free to reopen if it recurs :)

[2020-03-02 07:44] #59 closed

[2020-03-02 07:46] #50 closed

[2020-03-02 07:46] #44 closed

[2020-03-02 07:47] apptekstudios commented on #105
Previously this has been working by default... which iOS version are you testing on? I'll look into it :)

[2020-03-02 07:52] apptekstudios commented on #100
This might be to do with how UICollectionView is reporting the destination index (not accounting for the removed item...). I wonder if you could perform a bounds-check on the destination index, and if it is not within the bounds of the array assume you should insert at `endIndex - 1`

[2020-03-02 12:28] alexandremorgado commented on #106
Same problem here when using ObservedObject / Published as datasource.

[2020-03-03 00:01] sjmueller opened #108 "Multiple sections with Waterfall layout?"
I am trying to create the following layout with two sections, one of them being a waterfall layout:

<img src="https://user-images.githubusercontent.com/29085/75728963-37dc6400-5c9e-11ea-893a-44bf740bd8f5.png" width="250" />

However, `ASWaterfallLayout` seems to operate on the whole `ASCollectionView`, rather than on a section level. Is there any way to achieve this layout?

Thanks!

[2020-03-03 01:29] sjmueller commented on #108
By the way I also tried [Steve Breen's approach to Waterfall with compositional layouts](https://gist.github.com/breeno/f16330c5ef06075b0fc476c65d9b00d8), the code plugged into `ASCollectionView` is below.

It *almost* works, so close! The problem is that the layout calculates items horizontally alternating between two columns, but the `ASCollectionViewSection`'s content builder seems to render it

[2020-03-03 03:00] markbryanramirez commented on #105
I've been testing on iOS 13.3.1 on iPhone. I used a custom ASCollectionLayout<Section> in my layout

[2020-03-04 00:29] apptekstudios commented on #108
Unfortunately I don't think it's currently possible to achieve a waterfall with the correct left to right order using UICollectionViewCompositionalLayout. Something to consider would be using ASWaterfallLayout and making a section that contains another ASCollectionView (with a horizontal axis) to achieve the orthogonal layout.

It should be fairly straightforward to add support to ASWaterfallLayou

[2020-03-04 01:46] apptekstudios commented on #108
I have pushed an update for `ASWaterfallLayout` to the dev branch that supports setting columnCount on a perSection basis. This should allow the solution I proposed above 😄

[code]

[2020-03-06 02:11] apptekstudios commented on #106
I have addressed a number of leaks in yesterday’s release (v1.3). Please let me know if you come across any more once updating :)

[2020-03-06 06:28] DominikButz commented on #100
I actually had done that already but it still doesn't work as expected.

The  function below is called from the switch event case .onAddItems(items, indexPath). (I had also implemented a remove logic, a function called from the case .onRemoveItem(indexPath):).

So the result that you see above already has these functions with insertion index correction implemented.

Currently, it't not too urgent

[2020-03-06 19:14] jeffd opened #110 "v1.3 does not show up in SwiftPackage Manager"
**Describe the bug**
The v1.3 release is tagged as v1.3 and is not showing up in Xcode as a valid version. Perhaps the release needs to be tagged as v1.3.0 to work?

**Xcode Version:**
- v11.3.1

[2020-03-08 09:31] apptekstudios commented on #110
Thank you, have now fixed that tag 👍

[2020-03-08 09:31] #110 closed

[2020-03-09 11:33] alexandremorgado commented on #106
Well, it looks like it's ok now, although I had changed my code a lot before the 1.3.0 release.

But on 1.3.0 we have a new issue. I think there is some problem on reusing cells, because every time I scroll a ASTableView the disappearing cells are rebuilt and the ASCollectionView in each cell are reloaded. So if I have a ASTableView as parent and I scroll a ASCollectionViewto right in first cell,

[2020-03-09 11:39] apptekstudios commented on #106
@alexandremorgado that is a good point about nested collection views! I think the right way to approach it may be to allow flagging sections that should be ‘cached’ so that they are not re-created on scrolling away. I’ll look into this when I get a chance :)

[2020-03-10 11:43] apptekstudios commented on #106
@alexandremorgado I have implemented what I discussed above and have released as version 1.3.1 🎉

I hope this means you can use the latest version :) Marking a section as one that should be cached is as simple as the following:
[code]

[2020-03-10 11:43] #106 closed

[2020-03-10 11:46] apptekstudios commented on #108
The above feature is now in the latest release. You could achieve the layout by using ASWaterfallLayout and a nested collectionView as discussed above. When nesting a collectionView I recommend you mark the section that contains it with the `.cacheCells()` modifier to ensure it is retained even when scrolling offscreen

[2020-03-10 11:46] #108 closed

[2020-03-10 11:52] apptekstudios commented on #76
Testing on 13.3.1 with the latest version of ASCollectionView, this is currently resolved.

Note that for SwiftUI to respect the size of the collectionView you must use `.shrinkToContentSize`. Alternatively use a `.frame` modifier to set a fixed height (and if the contents of the collectionView is larger it will be scrollable)

[2020-03-10 11:52] #76 closed

[2020-03-10 11:54] apptekstudios commented on #79
Please try the 1.3.1 release and see if this resolves the issues 👍

[2020-03-10 16:53] alexandremorgado commented on #106
It works @apptekstudios! Thank you!

BTW, what a amazing library is ASCollectionView! It allow us to combine the best of the two worlds. Great work!

[2020-03-11 02:29] soulfoodz opened #111 "Bug: Section Header height when estimated height is too big"
**Describe the bug**
I'm using estimated height for my header. If I set it too small, the view jumps, but the header becomes the correct size. If I set it too big, the header centers the content in a view that is too big, with equal margin above and below the content.

**To Reproduce**
I tried by setting way too big estimated Heights on the demo project, but couldn't reproduce. I think it may be r

[2020-03-12 05:32] markbryanramirez opened #112 "Large Title of Navigation having issues when setting background color of ASCollectionView"
**Describe the bug**
Large Title of Navigation having issues when setting background color of ASCollectionView

**To Reproduce**
I set .background(Color(.systemGroupedBackground)) in ASCollectionView with NavigationView configured to ouput largetitle.

**Expected behaviour**
Title of Navigation View should animate to small font when scrolling.

**Xcode Version:**
Version 11.3.1

**Simulator, Devic

[2020-03-12 05:33] markbryanramirez commented on #105
My workaround to force update the layout is add this .id(self.sizeCategory). I know its not pretty. Hope anyone can provide a cleaner approach. Thank you.

[2020-03-12 05:33] #105 closed

[2020-03-12 17:24] JanRajtr commented on #99
How this can be achieved when the delegate function `scrollViewDidScroll` cannot be overridden?

[2020-03-12 20:42] alexeyprimechaev opened #113 "Recent update broke cells auto-sizing and updating."
**Describe the bug**
A recent update (not sure which one, but I've switched from the dev branch (now non-existent) to the master branch) completely and utterly destroyed my layout (I'm using the layout from the TagsScreen Demo). Now cells not only flicker and are of incorrect sizes, but also not interactable while updating. Context menus (awesome menus tho) also do not work.

I'm attaching videos

[2020-03-13 03:04] apptekstudios commented on #113
That is some strange behaviour indeed! I would appreciate a project that exhibits the issue as I couldn't manage to reproduce it to investigate.

[2020-03-13 03:06] apptekstudios commented on #113
An unrelated suggestion: look into using a monospaced font for your timers, it's an easy way to avoid them changing size as the numbers change :)

[2020-03-13 05:55] 1234igor commented on #113
Got the same problem after update 🙁

[2020-03-13 05:58] apptekstudios commented on #113
@1234igor also using a flowLayout?

[2020-03-13 09:16] alexeyprimechaev commented on #113
Hey! Regarding the monospaced font suggestion, I already dealt with that. Well, kinda. Inside every timer cell there is an invisible Text View with “88:88”, so that the width of the vied doesn’t change every second :)

[2020-03-13 09:52] alexeyprimechaev commented on #113
@apptekstudios How could I send you my project privately?

[2020-03-13 10:59] apptekstudios commented on #113
Please see my email 👍

[2020-03-18 07:46] apptekstudios commented on #113
@alexeyprimechaev Has everything been working with the latest version + changes I sent through?

[2020-03-20 09:25] alexeyprimechaev commented on #113
@apptekstudios not really.
Once I got rid of the monospaced font (which unfortunately ruins the whole aesthetic of the app) and implemented back my method for sells to not resize every frame (which definitely worked in the dev branch of this library), the flickering returned.

https://imgur.com/a/r20a8Qw

(you can see that the width of the cells doesn't actually change and yet they flicker like he

[2020-03-20 10:49] GabrieleCocco opened #115 "Support fort shouldSelectItem:atIndexPath"
This work is absolutely great!
It would be nice if you could extend it to support _shouldSelectItem:atIndexPath_ and _shouldDeselectItem:atIndexPath_, which come in handy in several cases.
For example, it's currently impossible to set a max count of items selectable. Disabling the collection won't work cause it would prevent from deselecting currently selected items.

They could come as optional c

[2020-03-20 19:09] kerrmarin commented on #57
See #116

[2020-03-26 05:21] foolbear opened #117 "archive error: “xxx-master.dia:1:1: Could not read serialized diagnostics file: Cannot Load File: Failed to open diagnostics file”"
**Describe the bug**
A clear and concise description of what the bug is.

I upgraded my xcode to 11.4 yesterday, now I can not archive my SwiftUI code to submit appstore.

**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Xcode Version:**
- 11.4
Sw

[2020-03-26 06:12] BluePick opened #118 "MacOS Support"
ASCollectionView is developed based on UIKit which is not supported for MacOS.

Please add support

[2020-03-26 07:32] foolbear commented on #117
I remove ASCollectionView from my code, it archives fine.

[2020-03-26 23:05] apptekstudios commented on #118
@BluePick ASCollectionView is compatible with Catalyst apps on MacOS 🎉 We don't plan on adding NSCollectionView support at this stage as this would require a lot of code changes and upkeep.

[2020-03-26 23:05] #118 closed

[2020-03-26 23:06] apptekstudios commented on #115
Thanks @GabrieleCocco this seems like a good addition. I'll look into implementing this with the next version 👍

[2020-03-26 23:08] apptekstudios commented on #112
Sorry for the delayed response @markbryanramirez. If I've understood correctly you are setting a background however it's not expanding under the navigation title? If so try adding `.edgesIgnoringSafeArea(.all)` after the `.background` modifier

[2020-03-26 23:11] apptekstudios commented on #111
Sorry for the delayed response @soulfoodz!  It sounds as though your `HeaderView` is expanding to take up whatever space it is offered... A likely culprit here is a `Spacer` in a VStack, any chance there's something set to take up as much vertical space as it can?

[2020-03-27 01:49] soulfoodz commented on #111
@apptekstudios no worries. Thanks for getting back to me at all. The only vertical spacer I have has a height set on it.
`	var userInfoView: some View {
		VStack(alignment: .leading, spacing: 15) {
			HStack(alignment: .top, spacing: 10) {
				UserAvatarView(userID: userID)
					.frame(width: 100, height: 100)

				VStack(alignment: .leading, spacing: 0) {
					Spacer()
						.frame(height: 30)

[2020-03-27 02:31] markbryanramirez commented on #112
It still had that issue. below is image of the navigation bar.

<img width="465" alt="Screen Shot 2020-03-26 at 9 29 18 PM" src="https://user-images.githubusercontent.com/20696028/77715181-e1b2c600-6fa8-11ea-89da-f9f671c40463.png">

Below is my code:

<img width="597" alt="Screen Shot 2020-03-26 at 9 30 24 PM" src="https://user-images.githubusercontent.com/20696028/77715245-1030a100-6fa9-11ea-8c22

[2020-03-27 02:39] apptekstudios commented on #112
This behaviour is due to SwiftUI's `GeometryReader` rather than ASCollectionView. It is preventing UIKit from detecting the collectionView as a scrollView to attach the title to...

What do you need the geometryProxy for in `self.layout(basedOn: geometry)`?

[2020-03-27 02:40] apptekstudios commented on #112
If you are using compositionalLayout it should allow you to access the size of the collectionView from the `NSCollectionLayoutEnvironment`

[2020-03-27 09:21] c941010623 opened #119 "How can i do add onCellEvent ?"
if i use the sample code:

[code]

how can i do add onCellEvent ??

[2020-03-29 04:31] #115 closed

[2020-03-29 06:26] apptekstudios commented on #113
@alexeyprimechaev I’ve made some further changes in V1.4 (which is now released) that I’m hopeful will resolve this.

[2020-03-29 11:53] apptekstudios commented on #119
Hi @c941010623, to add onCellEvent just use the ASSection initialiser 👍
[code]

[2020-03-29 11:53] #119 closed

[2020-03-29 12:40] alexeyprimechaev commented on #113
@apptekstudios Yes, now layout behaves as expected and cells only resize whenever necessary!

However, (this one is probably specific to my project) when timers are run in default loop, scrolling works, but the views pause updating (while dragging) and the ASCV autoscrolls back to top on every redraw (I presume).

When timers are run on the main thread the individual views do updates, but scrollin

[2020-03-29 13:17] c941010623 commented on #85
when i only use the code
[code]
i also get same error
[code]

[2020-03-29 23:16] markbryanramirez commented on #117
Having the same problem for me when I updated to Xcode 11.4. When removed ASCollectionView references it archives fine as well.

[2020-03-29 23:20] markbryanramirez commented on #112
Thanks for feedback. I didn't realize I can access the size through the environment property. Thanks for pointing it out. I just noticed that if I don't set the background property, the large title in navigation view, it works fine. Somehow setting the background property messes up the navigation view.

[2020-03-30 02:28] apptekstudios commented on #117
@foolbear Sounds like a bit of a compiler bug introduced with 5.2...

Not sure if it's the issue here, but in the latest version of swift I've noticed function builders having trouble with type inference. Just looking at that little snippet of code, maybe try explicitly specifying the type for your sectionID's

eg...
`ASCollectionView<YourSectionIDType>`
`ASSection(id: YourSectionIDType.main, ...)

[2020-03-30 03:45] markbryanramirez commented on #117
For me it seems to error out in the custom view modifiers like below. If I commented these out, it archives successfully.
            .collectionViewAlwaysBounceVertical()
            .collectionViewContentInsets(UIEdgeInsets(top: 20, left: 0, bottom: 20, right: 0))
            .collectionViewScrollIndicatorsEnabled(false)

[2020-03-31 00:18] apptekstudios commented on #113
I’m working on moving the diffing (UICollectionViewDiffableDataSource) to a background thread, this should improve performance and hopefully mean updates are less susceptible to other things blocking the main thread.

Regarding the scrolling to top, I’m not sure why this would be happening and will investigate later today :)

An app I’m currently working on also has a timer view that needs regular

[2020-03-31 07:34] apptekstudios commented on #113
The views not updating while scrolling is actually a known UIKit quirk. UIScrollView blocks the main runloop so timers aren't called. See the solution here: https://stackoverflow.com/questions/5377914/uilabel-updating-stops-during-scrolling-uiscrollview

[2020-03-31 07:54] apptekstudios commented on #113
I have identified the cause of scrolling to the top, turns out that setting certain UICollectionView properties resets the scroll position, even if they are unchanged. I will release an update shortly to address that 👍

[2020-03-31 08:16] apptekstudios commented on #113
@alexeyprimechaev Another recommendation regarding your code would be to decouple the coreData model from your actual timer class. Currently whenever the `currentTimeStored` of one timer is being updated it is triggering the entire FetchRequest to refresh (try putting a breakpoint in your `ContentView.body` when a timer is running). This means that your entire content view is being recalculated 10

[2020-03-31 08:43] apptekstudios commented on #113
V1.4.1 should resolve the issue with scrolling back to the top 🎉

[2020-03-31 12:36] #88 closed

[2020-03-31 12:39] apptekstudios commented on #90
@FaizanDurrani Hopefully these issues should be resolved in the latest version, let me know if there's still problems 👍

The disappearing sections bug unfortunately seems to be a UICollectionViewCompositionalLayout issue... I was able to reproduce the same bug in a pure UIKit project :(

[2020-03-31 13:19] FaizanDurrani commented on #90
Nice, thanks for your hard work.
I’ll try the changes out soon

[2020-03-31 19:48] apptekstudios commented on #117
Thanks @markbryanramirez that's helpful! It seems that these SwiftUI environment modifiers are causing some sort of issue with release builds. They're very straightforward functions so there's no good reason for that :/

I might look at making them direct functions on ASCollectionView rather than utilising SwiftUI environment, as I expect the usual use case is directly configuring the collection v

[2020-03-31 20:46] alexeyprimechaev commented on #113
@apptekstudios checked out the update — yup, scrolling now works, and almost perfectly.

I only have a couple of minor complaints with your otherwise beautiful library.

https://imgur.com/a/8VQevCX

[2020-03-31 20:47] alexeyprimechaev commented on #113
@

will definitely work on that 👍

[2020-04-02 08:10] apptekstudios commented on #117
@foolbear @markbryanramirez
I have pushed an update to the `dev` branch, that is my candidate for `1.5.0` (API changes... so new minor version). Please test your code with this version, it should now compile in release builds 🎉

Notably I have simplified the naming of the setting modifiers and ASCollectionView/ASTableView no longer use environment keys for their configuration. This means that the

[2020-04-02 22:55] rrroyal opened #125 "ASCollectionView wrapped in NavigationView doesn't update height."
**Describe the bug**
After scrolling, NavigationViewTitle resizes to `.inline` style and ASCollectionView doesn't update its height leaving blank space between NavigationBar and ASCollectionView.

**To Reproduce**
iPhone X, iOS 13.4.5
iPad 7, iPadOS 13.4.5
[code]

**Expected behaviour**
View should resize after scrolling (just like regular ScrollView in NavigationView would)

**Screenshots**
[View

[2020-04-02 23:11] apptekstudios commented on #125
This is a known SwiftUI bug, add `.edgesIgnoringSafeArea(.all)` outside your ASCollectionView and it should work as expected :)

[2020-04-02 23:39] rrroyal commented on #125
It works, but when there isn't enough items to fill whole screen ASCollectionView is below NavigationBar

[2020-04-03 04:12] apptekstudios commented on #125
That's strange! I think it might be a little bug in UICollectionViewCompositionalLayout as it should be accounting for the safe area. Try also setting `.alwaysBounceVertical(true)` and see if that makes a difference

[2020-04-03 11:22] apptekstudios commented on #113
Regarding lack of animations, try wrapping your state change in a `withAnimation` block

[2020-04-04 22:53] apptekstudios commented on #99
Hi @mkalayci35 and @Allan121, in the dev branch there is now support for an `onScroll` closure. This will be released in the next version 👍

[2020-04-05 04:45] aovalenciar opened #126 "Headers are getting cached since 1.4.1 (ASTableView)"
**General Situation (ASTableView)**

Your library is awesome, I really love it as the native swiftui lists are so limited. But in version 1.4.1 or grater the headers started to stay in cache, even if my model changes. It change only when I scroll.

**My implementation**: I have a SearchBar to filter by name, then when filtering the sections are updated. In version 1.4.0 it is working nice, headers

[2020-04-05 05:01] markbryanramirez commented on #117
Thanks @apptekstudios, the recent dev branch now works for me and archives without issues. 👍😊

[2020-04-05 07:22] apptekstudios commented on #126
Thanks for pointing this out! It should be resolved in V1.5.0 (just released) 🎉

Please let me know if there are still any issues. Note that v1.5 has some changes to modifier names that might prevent it from building initially (eg collectionViewContentInsets → contentInsets, tableViewSeparatorsEnabled → seperatorsEnabled)

[2020-04-05 19:21] aovalenciar commented on #126
Thank so much for the quick response and resolution. It's working again 👌👌

[2020-04-05 19:21] #126 closed

[2020-04-05 20:33] kkla320 opened #128 "Provide dynamic library type for multiple targets in an app"
**Describe the bug**
If you have multiple targets in an app (application and extension for example) you cannot add the library in both. The following error message appears in Xcode:
`Swift package product 'ASCollectionView' is linked as a static library by 'SmartCook' and 'SharedUI'. This will result in duplication of library code.`

I am not an expert in SPM but it seems a dynamic target is the s

[2020-04-05 20:34] kkla320 commented on #128
I created a PR #129 für the issue.

[2020-04-05 22:49] aovalenciar opened #130 "Bug: ASTableView row sizing intermittent issue (since v1.4)"
**Describe the bug**
Some times rows are not properly sized until you scroll, I will leave here a video and image to better see what I mean.

I have tested couple of versions and its working on 1.3.2 but since 1.4 it is not.
**Last version tested**: 1.5.0

**Image**

As you can see here, the row marked with blue has the correct size but the red one is bigger than others, then it gets the expected

[2020-04-07 01:22] apptekstudios commented on #128
Thank you for your PR. I have merged it into the dev branch and it will be included in the next release :)

[2020-04-07 01:22] #128 closed

[2020-04-07 07:56] apptekstudios commented on #130
@aovalenciar Can you please test the `dev` branch with your project and see if this is resolved? Thanks! :)

[2020-04-07 12:44] kerrmarin commented on #59
@apptekstudios I can reproduce the crash always by making these changes https://github.com/kerrmarin/ASCollectionView/commit/cfb538dce625a91fa24168f286a1774cfb3373fd and then navigating the demo app to the "App Store Layout" demo then scrolling the top carousel

[2020-04-08 08:22] apptekstudios commented on #59
@kerrmarin Thank you for the easy instructions to reproduce the error!

Unfortunately it seems that this is a SwiftUI bug, and I am unable to work around it within the library :(

I would recommend using the workaround I suggested above if utilising EnvironmentObject 👍

Further info from my debugging:
- Primary issue: SwiftUI is calling the view's `body` immediately on initialising a UIHostingCont

[2020-04-08 09:31] kerrmarin commented on #59
Thanks for the feedback @apptekstudios. Do you think it's worth re-opening this issue until it's fixed? More for visibility than for anything else in case someone else comes looking for an answer :) I'll also open a bug in the Swift bug tracker

[2020-04-08 11:23] apptekstudios opened #131 "Workaround: EnvironmentObject missing"
**The issue**
`Fatal error: No ObservableObject of type _________ found. A View.environmentObject(_:) for _________ may be missing as an ancestor of this view.`

**Situation that causes crash:**
When using a view type that contains and uses an `@EnvironmentObject var` inside an ASCollectionView cell.
eg (pseudocode):
[code]

**Why isn't it working?**
SwiftUI intermittently attempts to access the v

[2020-04-08 11:24] apptekstudios commented on #59
I've created a new issue #131 that outlines the bug and its workaround to make it easy for anyone having the problem :)

[2020-04-08 11:32] apptekstudios opened #132 "Workaround: Large navigation title not collapsing as expected"
**Describe the bug**
When using ASCollectionView with a large navigation title, there is a remaining blank space between NavigationBar and ASCollectionView after scrolling down.

This is a SwiftUI bug where the safe area is not being updated correctly.

**Workaround**
Add `.edgesIgnoringSafeArea(.all)` and `.alwaysBounce(vertical: true)` to your ASCollectionView. The title should then collapse as

[2020-04-08 11:33] #112 closed

[2020-04-08 11:34] #113 closed

[2020-04-08 11:42] #79 closed

[2020-04-08 11:42] #90 closed

[2020-04-08 11:44] #99 closed

[2020-04-08 11:44] #92 closed

[2020-04-08 11:45] #117 closed

[2020-04-08 11:45] #125 closed

[2020-04-08 11:46] #85 closed

[2020-04-08 11:49] apptekstudios commented on #80
I am currently reworking drag&drop functionality in the `dev` branch. Notably also I am moving the library to a custom diffing algorithm as the apple one is proving too inflexible

[2020-04-08 11:49] #80 closed

[2020-04-08 11:50] apptekstudios commented on #100
I am currently reworking drag & drop functionality in the `dev` branch and will try to test this scenario when designing it 👍

[2020-04-08 11:50] #100 closed

[2020-04-08 11:57] apptekstudios commented on #111
I haven't been able to reproduce this to figure out the cause sorry! But might suggest an alternative solution:

Try using the view with it's own section instead, eg:
[code]

[2020-04-08 19:24] alexandremorgado opened #133 "Crash on trying to deinit ASCollectionView"
**Describe the bug**
Sometimes the app crashes on trying to deinit ASCollectionView. The Xcode logs are the generic 'Fatal error: Attempted to read an unowned reference but object', but on crashlogs I found some references to ASCollectionView:

[code]

**To Reproduce**
In my app the problem happens when I push and pop a view with a ASTableView (and 3 sections with ASCollectionViews) for a second o

[2020-04-09 02:39] DominikButz commented on #100
thanks. it would be great if you could implement drag and drop between sections including **dropping a cell onto a section header.** This is kind of a standard for some mobile and many desktop apps. This is actually necessary especially when the target section has no items. In that case, only the section header is visible, so there is no other area to drag the cell to.

[2020-04-09 18:22] whilesoftware opened #134 "Bug: @State update during overscroll cancels overscroll"
**Describe the bug**
When the .onScroll modifier is set, the overscroll behavior becomes jittery and fails to bounce.

**To Reproduce**
Set .onScroll() and scroll to the bottom

**Expected behaviour**
setting .onScroll() should have no side effects

**Xcode Version:**
1.4

**Simulator, Device, Both?**
Occurs on both simulator and device.

[2020-04-09 22:38] apptekstudios commented on #134
Hi @whilesoftware, thanks for posting the issue. Can I check, does this happen even when your `onScroll` method is an empty closure?

[2020-04-09 23:05] whilesoftware commented on #134
It does not!

The body of my `onScroll` was setting a local @State which was bound to a Text view... so triggering a view update.

[2020-04-10 00:00] apptekstudios commented on #134
Okay, so looks like the view update is causing the overscroll to reset... I suspect this is on the UIKit side of things and will have a look if I can find a way to avoid that 👍🏻

[2020-04-14 16:11] mesheilah opened #135 "cannot hide scroll indicators with the latest build"
Previously I can hide the scrolling indicators using `.environment(\.scrollIndicatorsEnabled, false)`, now this line doesn't compile.

[2020-04-14 18:59] mesheilah commented on #135
now, scroll indicators can be enabled or disabled using the operator: `.scrollIndicatorsEnabled(horizontal:vertical:)`

[2020-04-14 18:59] #135 closed

[2020-04-15 19:19] soulfoodz commented on #111
I'll try that. Thanks!

[2020-04-20 15:50] JanRajtr opened #136 "onScroll for individual collection"
Hi,

**Description**
Current implementation of `onScroll` method register scrolling only in parent TableView. There is probably no way how to handle scroll of individual collection view within the ASCollectionView.

**To Reproduce**
Steps to reproduce the behaviour:

1. Make simple one level ASCollectionView with `ASCollectionView(data: _, dataID: _  ) { ...}`
2. Register `onScroll` method
3. Expe

[2020-04-20 19:31] mwilsoncricut commented on #133
Seeing this same issue

[2020-04-20 21:29] apptekstudios commented on #133
@alexandremorgado @mwilsoncricut Have either of you got a simple project that reproduces this? I haven’t been able to reproduce it which is making debugging difficult

[2020-04-20 21:34] apptekstudios commented on #136
Unfortunately this is a limitation of the underlying UICollectionViewCompositionalLayout. You could try nesting ASCollectionViews within an ASTableView. Alternatively other custom UICollectionViewLayout classes might offer better scroll-handling support

[2020-04-20 21:35] apptekstudios commented on #136
There’s a few stack overflow discussions on the topic (re didScroll and UICollectionViewCompositionalLayout) if you wanted to investigate further :)

[2020-04-21 19:26] soulfoodz commented on #111
Just updated to version 1.5 and the estimated Header height is working as expected. Thanks for all the work you guys put into this and the help offered here. It's greatly appreciated.

[2020-04-21 19:26] #111 closed

[2020-04-23 13:06] apptekstudios commented on #117
For future reference: I experienced this same issue with the SwiftUI `.environment` modifier in another package I am working on. This is definitely a compiler bug. As a workaround, making the function `@inlineable` seems to resolve the issues with release builds.

[2020-04-27 00:33] FaizanDurrani opened #137 "[REQUEST] IndexTitles implementation"
Something similar to https://developer.apple.com/documentation/uikit/uicollectionviewdatasource/2851455-indextitles to quickly scroll through the collection view.

[2020-04-27 18:19] Thomas-Vos opened #138 "tvOS support"
**Describe the bug**
I am unable to include this in a tvOS target. See screenshot for details:
![Screenshot 2020-04-27 at 20 14 44](https://user-images.githubusercontent.com/11077217/80406044-c1399c80-88c3-11ea-8f60-f0996ebec3b9.png)

**To Reproduce**
Steps to reproduce the behaviour:
Open the attached sample project and try to run it on a tvOS simulator.
[AsCollectionViewTvOsSample.zip](https://g

[2020-04-30 04:47] apptekstudios commented on #136
It turns out you can provide a closure for the `NSCollectionLayoutSectionVisibleItemsInvalidationHandler` (when you define your layout) that is called on scrolling the nested scrollViews, with the offset for that section 🎉

https://developer.apple.com/documentation/uikit/nscollectionlayoutsection/3199096-visibleitemsinvalidationhandler

Note that it is called not only when scrolling, but also at o

[2020-04-30 04:47] #136 closed

[2020-04-30 04:51] apptekstudios commented on #137
@FaizanDurrani This should be relatively simple to implement. I'm not too familiar with IndexTitles on collection views - any thoughts on the best API to provide this behaviour? I was thinking that each section could have a closure that returns an `IndexTitle` (if desired) or `nil` for a given index path. Would that meet your expected use case?

[2020-04-30 07:59] JanRajtr commented on #136
Cool, thanks! :)

[2020-05-02 00:47] #130 closed

[2020-05-02 23:27] DanielSelig opened #142 "Grid elements are randomized"
**Describe the bug**
The AdjustableGridScreen elements are randomized.  How do I avoid this?

[2020-05-02 23:41] apptekstudios commented on #142
@DanielSelig sorry this is a bug that slipped through review (I've now added numbering to our demo page for it)! I have fixed it and will push a new version shortly.

[2020-05-02 23:48] DanielSelig commented on #142
Thanks.  While I have you here, is there a way for the user to drag and reorder the elements and to have the new order persist?

[2020-05-02 23:58] apptekstudios commented on #142
The drag and drop logic will update whatever binding you give it, and then it's up to you to persist the updated data. The demo uses @State for demonstration purposes, however you would need to use some sort of model (eg. via ObservedObject) that persists your data as SwiftUI doesn't maintain @State on leaving a screen :)

[2020-05-03 00:22] apptekstudios commented on #142
I have pushed version 1.6.3 that resolves this bug 🥳 please make sure you go to `File → swift packages → Update to latest versions` 👍

[2020-05-03 00:22] #142 closed

[2020-05-03 00:23] apptekstudios commented on #138
@Thomas-Vos this is due to the unavailability of many UICollectionView APIs on tvOS. You could get this to work by going through and using `#if available` checks to disable those on tvOS.

[2020-05-04 00:10] fredz999 opened #144 "Layout orthogonalScrollingBehavior setting stopping onScroll()"
**Describe the bug**
I setup the layout of an ASCollectionView with the following setting included body layout
 section.orthogonalScrollingBehavior = .continuous

This achieves the effect of side scrolling for me, however when  section.orthogonalScrollingBehavior is set at all my onScroll() seems to stop working

**To Reproduce**
import ASCollectionView and use the following as a view in a SwiftUI

[2020-05-04 00:47] apptekstudios commented on #144
Hi @fredz999,

This is due to the way apple's UICollectionViewCompositionalLayout works. You can actually define your own `onScroll` in your layout using `NSCollectionLayoutSectionVisibleItemsInvalidationHandler`

https://developer.apple.com/documentation/uikit/nscollectionlayoutsection/3199096-visibleitemsinvalidationhandler

Note that it is called not only when scrolling, but also at other times

[2020-05-04 09:17] fredz999 commented on #144
Thanks for the quick response!

[2020-05-04 23:23] #144 closed

[2020-05-05 22:41] fredz999 commented on #89
How do you access this feature?

[2020-05-20 11:00] JolChrSA opened #145 "How do i disable row animation(Scale row while pressing) when i using ASTableView for selecting any row ?"

[2020-05-20 21:22] apptekstudios commented on #145
Hi @JolChrSA, I'm not sure I understand what you mean. Can you explain further? :)

[2020-05-24 17:46] isakovarseniy opened #146 "Data paging"
Hello
Is it possible to enable data paging. For example I have database with multiple rows. I need to display my data page by page.

Thanks
Arseniy Isakov

[2020-05-25 02:18] lawmicha opened #147 "Installing via SPM 1.6.3 fails to compile"
**Describe the bug**
Hi, I'm seeing compiler errors like these:

![image](https://user-images.githubusercontent.com/1365977/82772015-bacf0f80-9df2-11ea-912f-0b90bdbdf6be.png)

**To Reproduce**
Steps to reproduce the behaviour:
1. in the xcode project (i'm in a workspace managed by cocoapods)
2. File -> Swift Packages -> Add
3. choose the project target (not Pod target)
4. Enter https://github.com/

[2020-05-25 02:36] apptekstudios commented on #147
Hi @lawmicha, I’ll have a look into this later today. First step would be to update XCode as there were some strange compiler bugs in 11.3

[2020-05-26 09:20] dmonagle opened #149 "100% CPU and crash on animated change"
When a change with animation causes views to be added or removed from the collection in rapid succession, it causes a 100% CPU cycle and recursive attempts at a layout until the app crashes out of memory.

This only seems to happen if the next add/removal happens while the animation is still occurring.

**To Reproduce**

I've written a one page example app which causes this issue pretty easily.

h

[2020-05-27 02:43] apptekstudios commented on #149
Thank you for the demo project David - I was easily able to reproduce the issue using it 🎉

This was due to certain situations resulting in an infinite cycle of calls to layoutSubviews. I have fixed the bug and will push a new version as soon as I have tested further 👍

[2020-05-27 02:51] apptekstudios commented on #146
I can think of a few options here:
1) You could use a UICollectionViewLayout that includes paging support
2) You could pass ASCollectionView just the data for the currently visible page, and change the data passed as needed

Additionally you can use the `onReachedBoundary` call to extend how much of your data you are displaying (see the `Insta` demo page for an example of this)

[2020-05-27 02:52] apptekstudios commented on #137
Closing as the `indexTitles` API is not supported on iOS (only tvOS). This is incorrect in the apple documentation.

[2020-05-27 02:52] #137 closed

[2020-05-27 02:53] apptekstudios commented on #133
Closing for now as I cannot reproduce. This is potentially a SwiftUI bug as there are no unowned references used in ASCollectionView

[2020-05-27 02:53] #133 closed

[2020-05-27 02:54] apptekstudios commented on #145
Please reopen if needed, closing due to inactivity

[2020-05-27 02:54] #145 closed

[2020-05-27 12:47] alexandremorgado commented on #133
Ok @apptekstudios. I'm sorry I didn't post a simple project that reproduces this bug. I have tried, but in a simple project this crash don't doesn't happens.  Thank you for this great lib!

[2020-05-29 02:20] apptekstudios commented on #149
The dev branch now contains this fix, you can point there for the time being 😃

I've made quite a few changes so will test a little further before pushing the new version to master, however both the main demo app and your example app are functioning perfectly 🥳

[2020-05-29 18:45] Rspoon3 commented on #89
I would also like a way to scroll to the bottom. Does anyone have more information on this?

[2020-05-29 19:45] adamtow commented on #89
I have a new branch of 1.6.3 in my fork that you can look at: https://github.com/adamtow/ascollectionview

I can then include an extension to AS_CollectionViewController wherein I:

- Override the viewDidAppear method
- Add an observer for my scrollToBottom notification
- Call this method when the notification is received:

`objc func keyCommandScrollToBottom(notification: NSNotification?) {
		//d

[2020-05-29 22:24] apptekstudios commented on #89
There will soon be support for setting scroll position via a binding. This is currently supported on the dev branch and will be merged into master soon 🎉

[2020-06-01 21:27] Rspoon3 opened #151 "Cannot Hide Navigation Bar"
**Describe the bug**
If you try to hide the navigation bar on a view with ASCollectionView, the navigation bar always shows to some degree.

**To Reproduce**
Steps to reproduce the behavior:
On the TagsScreen of the demo project add the following to the outermost VStack:

.navigationBarTitle("")
.navigationBarHidden(true)
.navigationBarBackButtonHidden(true)

**Expected behaviour**
The navigation

[2020-06-02 00:18] apptekstudios commented on #149
Fixed in 1.7.0 🎉

[2020-06-02 00:18] #149 closed

[2020-06-02 00:18] apptekstudios commented on #89
Support now in the 1.7.0 release 🎉

[2020-06-02 00:18] #89 closed

[2020-06-02 00:22] apptekstudios commented on #151
Hi Ricky,

Thanks for opening the issue. This looks like some default SwiftUI behaviour unrelated to ASCollectionView. Try setting a non-empty navigation title and you'll see where this space is coming from 👍

SwiftUI defaults to using the 'large title' style, which is visible even when the nav-bar is hidden. To fix this simply use `.navigationBarTitle("", displayMode: .inline)`

Hope that helps!

[2020-06-02 00:24] apptekstudios commented on #138
Closing for now as we are unlikely to pursue tvOS support. Would be very welcoming to a PR if someone adds support :)

[2020-06-02 00:24] #138 closed

[2020-06-02 00:26] apptekstudios commented on #147
Closing this issue as I have confirmed it is related to an Xcode bug that is resolved in the current version 👍 Thank you for reporting it, and I appreciate the PR 😃

[2020-06-02 00:26] #147 closed

[2020-06-02 13:44] Rspoon3 commented on #151
Thanks for being super responsive👊🏽

I've tried your suggestion and unfortunately that doesn't fix it. You were right that the extra space is due to the large title being the default behavior, however by changing it to be inline, the navigation view is still there, just smaller.

I'm also not sure that it is entirely SwiftUI behavior because if you comment out the ASCollectionView it works as expe

[2020-06-03 18:37] joeycarmello opened #152 "Collection view hidden when embedded in ScrollView"
**Describe the bug**

I'm attempting to use the tags example from the demo in a simple ScrollView. The demo renders successfully without the ScrollView, but renders nothing at all when embedded within a ScrollView. I've tried variations of settings explicit frames on the collection view and items.

**To Reproduce**

Minimal example preview:

[code]

**Expected behaviour**

The collection view shou

[2020-06-03 22:51] #152 closed

[2020-06-03 22:54] apptekstudios commented on #152
Thanks for reporting the bug @joeycarmello - this is a regression of an old bug in SwiftUI, so I have reinstated an old workaround in 1.7.1. Should now be working 🎉

Bug: SwiftUI isn't calling viewDidAppear when we nest a UIViewControllerRepresentable inside a scrollView.

[2020-06-03 22:56] apptekstudios commented on #151
I'm not sure why this would be happening! Perhaps you have nested multiple NavigationViews? It's a long shot, but try setting `.navigationBarHidden(true)` outside your `NavigationView { ... }` as well.

[2020-06-03 23:40] joeycarmello commented on #152
Awesome. I can confirm 1.7.1 fixed it. Thank you!

[2020-06-05 09:44] timohausmann commented on #132
Thank you, `.edgesIgnoringSafeArea(.top)` is enough to fix the issue for me. I'm testing it on BasicExample from the README inside a NavigationView inside a TabView.

`.alwaysBounce(vertical: true)` give me errors: `Value of type 'ASCollectionView<Int>' has no member 'alwaysBounce'` (or if I put it after `.layout()`: `Value of type 'some View' has no member 'alwaysBounce'`). (SwiftUI, XCode 11.5)

[2020-06-05 11:04] akolov opened #154 "onReachedBoundary is not called if edgesIgnoringSafeArea is set"
**Describe the bug**
`onReachedBoundary` is not called if `edgesIgnoringSafeArea` is set, however not using `edgesIgnoringSafeArea` causes large navigation title not to collapse properly.

I believe it's related to this line of code:https://github.com/apptekstudios/ASCollectionView/blob/88a0ecfaafe9128fdd59e595d55c389afe1c5999/Sources/ASCollectionView/UIKitExtensions/UIScrollView%2BConvenience.swi

[2020-06-07 17:07] mesheilah opened #156 "Fatal error: Reading Environment EditMode outside View.body"
I'm having a crash on iOS 13.0 devices and simulators,  which happens exactly in `updateCollectionViewSettings` at the line: `let isEditing = parent.editMode?.wrappedValue.isEditing ?? false`

the error is self explanatory :
`Thread 1: Fatal error: Reading Environment<Optional<Binding<EditMode>>> outside View.body`

can be reproduced with ASCollectionView current master version.

is there a workar

[2020-06-08 03:32] mengdun commented on #151
have the same issue as well

[2020-06-08 03:47] apptekstudios commented on #151
@Rspoon3 @mengdun Strangely I can't get this to happen locally, which is making debugging hard. Is this happening only in when presented in a `sheet` modal? Or all of the time?

[2020-06-08 03:51] apptekstudios commented on #156
Is this only happening on 13.0 and not on 13.1/2/3 etc? I seem to recall this being a SwiftUI bug that was fixed in the later versions of iOS13.

One option would be to simply remove the isEditing lines from `updateCollectionViewSettings` if you're not making use of edit mode.

[2020-06-08 03:53] apptekstudios commented on #154
Thank you for the PR 😄 I'm glad I'd left that comment there or would've assumed it was a mistake on my half. Sounds like the behaviour has changed - I'd just like to check backward compatibility before merging, and will hopefully have a chance later this week. Might need to check iOS version to avoid breaking behaviour on non-updated devices 👍

[2020-06-08 11:10] mesheilah commented on #156
yes it's only happening on iOS 13.0 and Apple ~solved the issue~ changed the behavior on 13.1+, it's not a bug but it's the way how SwiftUI was dealing with any Environment, State, ObservedObject to prevent any access to them outside of View's Body, and this is so weird.

so anyone with iOS 13.0 will not be able to use ASCollectionView unless they update their iOS.

p.s. it's not a crash related t

[2020-06-08 18:08] mengdun commented on #151
@apptekstudios  for me it happens all the time, tried to hide the navigation bar in the example app (the AdjustableGridScreen view), it doesn't work, it works to hide navigationbar title or back button, but not hiding the entire nav bar, thanks

<img width="1274" alt="Screen Shot 2020-06-08 at 2 04 44 PM" src="https://user-images.githubusercontent.com/1975479/84064679-0a840e00-a991-11ea-8dc3-b8055

[2020-06-08 23:56] Rspoon3 commented on #151
@apptekstudios Yes, I ams presenting it in a sheet. In addition to my earlier screenshot, this is the only other code.

<img width="1496" alt="Screen Shot 2020-06-08 at 7 55 35 PM" src="https://user-images.githubusercontent.com/42879920/84091295-06241900-a9c2-11ea-9460-8ba1399e74fa.png">

[2020-06-09 14:14] kerrmarin opened #157 "Release latest version to CocoaPods"
It appears there have not been any new versions pushed to cocoapods since 1.4.1. It would be good to get the latest version pushed to the trunk spec repo:

https://cocoapods.org/pods/ASCollectionView-SwiftUI

[2020-06-11 10:08] donly opened #158 "how to use drag and drop when using FetchedResults as a data source"
`ASDragDropConfig` use `var dataBinding: Binding<[Data]>?` as init param, but the data source is FetchedResults with `@FetchRequest` can not use to init.

Is there any way to implement, thanks.

[2020-06-14 02:02] pkasson opened #159 "How can data binding be used for GroupLarge"
The GroupModel is the state for the collection view items, but it is not annotated as such.

How can the GroupLarge and GroupSmall support SwiftUI data binding for the title and contentCount attributes.

[2020-06-14 05:08] aovalenciar opened #160 "Bug: ASTableView wrong automatic sizing"
**Describe the bug**
Rows are not always properly sized on scrolling, I will leave here a video and image to better see what I mean.

I have tested this with the last versions and it's not working (tested in all versions >= 1.5.0).
Last tested version: 1.7.1

The same issue I'm facing on my app is actually happening on the instagram demo app.

**Video**

As you can see here the second row i'ts big

[2020-06-16 03:01] adamtow opened #161 "ASDragDropConfig enableReordering shouldMoveItem closure"
How does the shouldMoveItem closure in ASDragDropConfig enableReordering actually work? I tried modifying the PhotoGrid sample with the attached code. I never see the reorderData function call, let alone the print statement.

I don't see where the shouldMoveItem closure is being called in ASCollectionView.

[code]

[2020-06-16 10:05] donly commented on #161
Yes, I have the same question here

[2020-06-24 10:49] mannyvw commented on #157
Yeah have this problem too, also tried to use by adding sdk via xcode, but get an issue with conflicting versions of DifferenceKit that ASCollectionView uses and I assume some other pod that uses it. Can we have an up to date pod please

[2020-06-24 10:52] kerrmarin commented on #157
@mannyvw I got around this by having my own repo to host ASCollectionView's latest version instead of trunk. It's not great but

[2020-06-26 15:41] Fox-On-The-Run-NPE commented on #151
I too am seeing this behavior with hidden navigation being un-hidden on data load. See that there is fix in place (YES!). Will this fix be in 1.7.2 release?

[2020-06-27 00:31] pkasson opened #162 "Where are the icons used in the demo - clock, tray, flag ..."
Where are the icons used in the demo - clock, tray, flag ...

[2020-06-27 12:40] #156 closed

[2020-06-27 12:41] apptekstudios commented on #162
These are SFSymbols and available in any app using `Image(systemName: "iconName")` 👍

[2020-06-27 12:41] #162 closed

[2020-06-27 12:48] apptekstudios commented on #161
It appears that I added this closure to the API but forgot to remove it when I didn't get time to implement it, sorry for that! Would welcome a PR if anyone gets a chance.

The reordering functionality that is built in acts automatically via the binding passed to `ASDragDropConfig`. This extra closure was intended as a chance to prevent some items in the section from being moved (by returning fals

[2020-06-27 12:50] apptekstudios commented on #159
These are just normal SwiftUI View structs used for the demo project - there's nothing specific about them relevant to ASCollectionView. Check out the WWDC session on Data flow for more info re: properties vs bindings :)

[2020-06-27 12:50] #159 closed

[2020-06-27 12:53] apptekstudios commented on #158
This is difficult to approach as FetchedResults has an implicit order to its results. Perhaps you could introduce some ordering column to your data model, sort by that, and then adjust those values on reordering? As for applying the drag&drop, I think the current API doesn't have a way to achieve this, but you could fork this library and change the UIKit code / ASDragDropConfig to add other ways t

[2020-06-27 12:58] apptekstudios commented on #157
Sorry for the slow response! Hmm I thought I had automated pushes to trunk through the CI, must have lost that at some point. Should be up to date now 👍

[2020-06-27 12:58] #157 closed

[2020-07-01 16:32] Phnx777 opened #163 "Crash on launch"
Crash on launch

lauch application on simulator se (1-st generation)
iOS 13.0

<img width="1355" alt="Screenshot 2020-07-01 at 19 27 09" src="https://user-images.githubusercontent.com/10783517/86268902-9cb6b500-bbd1-11ea-8e9b-fb24cc88a6a8.png">
<img width="1370" alt="Screenshot 2020-07-01 at 19 26 53" src="https://user-images.githubusercontent.com/10783517/86268907-9e807880-bbd1-11ea-9623-5c7f3537

[2020-07-01 18:49] Phnx777 opened #164 "Horizontal CollectionView on ScrollView disappear after vertical scroll"
**Describe the bug**
Horizontal CollectionView on ScrollView disappear after vertical scroll

**To Reproduce**
It can be reproduced in Demo.
1) Open "App Store Layout"
2) Scroll the first section to the third item
3) Scroll screen to the bottom
4) Scroll screen to the top
After this step the content of first section partly/fully disappear

**Expected behaviour**
The content of first section partly

[2020-07-08 01:31] donly commented on #164
Same with #90

[2020-07-10 23:33] apptekstudios commented on #163
Hi @Phnx777, thanks for reporting the issue. Unfortunately this one is a SwiftUI bug in 13.0 that was resolved in future iOS versions. The only workaround is to avoid using environment variables... if you're not using edit mode you could simply remove the `@environment var editMode` and related code.

[2020-07-10 23:33] #163 closed

[2020-07-11 01:04] apptekstudios commented on #158
V1.8.0 will include a way to manually apply drag/drop to your data
![image](https://user-images.githubusercontent.com/13492172/87213162-51856a80-c366-11ea-9af2-5707bdab655d.png)

[2020-07-11 01:09] apptekstudios commented on #161
V1.8.0 (WIP) has now implemented a `canMoveItem` closure that is called to check whether to apply a move.
![image](https://user-images.githubusercontent.com/13492172/87213231-e5efcd00-c366-11ea-83ed-5df6dabeccb3.png)

 It also includes a way to manually apply drag/drop to your data, without using the data binding
![image](https://user-images.githubusercontent.com/13492172/87213162-51856a80-c366-11

[2020-07-17 12:55] siliconsorcery opened #165 "In Xcode 12.0 beta 2 - Demo App causes a fatal error encountered during compilation"
**Describe the bug**
Xcode 12.0 beta 2 compiler crashes while building ASCollectionView Demo (v1.7.1 or v1.8.0WIP)

**To Reproduce**
Install Xcode 12.0 beta 2
Clone ASCollectionView and open in Xcode
Build

**Expected behaviour**
No crashes of development tools.
App builds and runs on iOS 13+

**Software**
Xcode 12.0 beta 2
MacOS 10.15.5

[2020-07-18 22:16] adamtow commented on #161
Could you add another modifier called "canDropItem" which sets the value of the dropEnabled variable in the ASDragDropConfig?

The use case that I'm thinking is dropping an item from outside the app onto the ASCollectionView. If it's a particular type, the drop should be passed from the collection view to the children in the collection view. Right now, I can do this only if I set dropEnabled and r

[2020-07-20 21:51] cltnschlosser commented on #160
Has anyone found this to not be the case when using a collection view. I'm seeing very similar bugs in my own simpler implementation of UITableView in SwiftUI and just wondering if using a collection view has any benefits here.

[2020-07-22 01:13] Harout360 commented on #131
+1 seeing same issue

[2020-07-24 00:12] NickAtGit opened #166 "Request: WatchOS Support"
It doesn't seem to work on watchOS. Is there any plan to get it to work on the watch?

Thanks

[2020-07-24 00:15] apptekstudios commented on #166
Hi Nick, unfortunately because we’re using UIKit under-the-hood this library can’t be ported to watchOS. However, there are some purely SwiftUI grid libraries that might meet your needs on the watch 🙂

[2020-07-24 00:15] #166 closed

[2020-07-24 00:16] NickAtGit commented on #166
Hi @apptekstudios could you point me to a suitable one?

[2020-07-24 00:32] apptekstudios commented on #166
I haven’t used any myself, but this one looks reasonable https://github.com/pietropizzi/GridStack

[2020-07-25 05:28] gorbat-o opened #167 "The CardView created works well independently but not with ASCollectionView"
Hey guys!

**Describe the bug**
So I am currently trying to have a `CardView` container. It seems to work in the preview and pretty much everywhere independently, but as soon as I use it with `ASCollectionView`, it seems to break and do not show the labels.

**To Reproduce**

_TradeView_
[code]

_TradeCellView_
[code]

_Container_
[code]

**Current Behaviour**
![image](https://user-images.githubus

[2020-08-02 10:07] 531149907 opened #168 "'Tags Layout' may leaks memory?"
**Describe the bug**
The memory usage keeps growing while keep opening and closing the 'Tags Flow Layout' view in the DEMO App.

**To Reproduce**
Just keep opening and closing the 'Tags Flow Layout' view in the DEMO App.

**Screenshots**
![image](https://user-images.githubusercontent.com/15030735/89120673-befe6400-d4ea-11ea-8477-b7c156450f74.png)

**Xcode Version:**
- Xcode 11.6

[2020-08-06 08:47] AngkiZ commented on #151
Adding `.navigationBarTitle("", displayMode: .inline).navigationBarHidden(true).navigationBarBackButtonHidden(true)`  to the item layout  can solve this problem.
eg:
[code]

[2020-08-08 02:37] zntfdr commented on #165
Just tried in X12b4, seems to work fine 🎉

<img width="1048" alt="Screen Shot 2020-08-08 at 9 36 29 AM" src="https://user-images.githubusercontent.com/5277837/89700714-a662d380-d95a-11ea-95e7-f35274912367.png">

[2020-08-09 11:26] apptekstudios commented on #165
Seems to have been an issue with the beta. Building without issues in X12b4 👍

[2020-08-09 11:26] #165 closed

[2020-08-09 11:29] apptekstudios opened #169 "[beta bug] iOS 14 keyboard safe area displaces cells"
**Describe the bug**
In iOS14(b4) the new keyboard safe area displaces cells when the keyboard is open, leading to strange layout behaviours.

https://openradar.appspot.com/radar?id=4929616280027136
https://twitter.com/tobeasbrennan/status/1292226699782844416

[2020-08-09 11:30] apptekstudios commented on #160
This sizing error seems to be related to safeArea related issues in SwiftUI. Have an open radar and am hopeful it will be fixed for iOS 14.
https://openradar.appspot.com/radar?id=4929616280027136
https://twitter.com/tobeasbrennan/status/1292226699782844416

[2020-08-09 11:36] apptekstudios commented on #161
@adamtow re: `canDropItem`... I couldn't find a way to achieve this sadly. SwiftUI is greedy and steals all drop requests (regardless of whether it has a view accepting a drop, and regardless of what portion of the cell it takes up). Therefore to get collectionView drag/drop to work at all we need to disable SwiftUI's drop handler. I haven't had a chance but this is probably worthy of a radar.

[2020-08-25 08:54] atdrendel opened #171 "Background colors applied using SwiftUI's `background(_:alignment:)` modifier don't behave as expected"
**Describe the bug**
Trying to set a background color for an `ASCollectionView` nested inside of a `NavigationView` causes two problems:

1. The background does not extend under the navigation bar.
2. Large navigation titles do not collapse when scrolling the collection view.

**To Reproduce**
Inside the demo app, modify the line in `MainView.swift` that instantiates `PhotoGridScreen` to look like

[2020-08-25 08:55] atdrendel commented on #171
This is related to https://github.com/apptekstudios/ASCollectionView/issues/112. That issue seemed to have closed without a resolution, though.

[2020-08-26 14:50] iShavgula-TacTill commented on #130
Hello,

Sorry for asking this under this thread:
@aovalenciar could you please tell me how did you set `sectionIndexTitles` for the table view?
thank you

[2020-09-04 05:24] apptekstudios commented on #171
Thanks for the PR. I'll look into merging this into the upcoming version :)

It seems that the SwiftUI .background modifier is causing the issue. I managed to reproduce a similar issue when using a plain UIScrollView wrapped in SwiftUI. I'm curious whether using .edgesIgnoringSafeArea(.all) made any difference?

[2020-09-05 13:48] atdrendel commented on #171
Thanks a lot for merging it.

I changed the `PhotoGridScreen` initialization line in `MainView.swift` to the following:

[code]

Unfortunately, this approach doesn't seem to be workable, either. It creates a few new problems. First, the navigation bar becomes completely translucent. Second, the collection view's insets get screwed up, too, which leads to the content being scrolled up past the top

[2020-09-06 13:18] atdrendel opened #176 "Allow updating selection based on programmatic changes to `selectedItems`"
As currently configured, selection in `ASCollectionView` _(and Apple's own `List`)_ is exposed as `Binding<Set<SelectionValue>>`. According to Apple's own documentation, a binding is "a two-way connection between a property that stores data, and a view that displays and changes the data". However, in `ASCollectionView` and Apple's own `List`, the binding is only a one-way connection: the internal

[2020-09-06 16:30] piaozhx commented on #168
same problem

[2020-09-08 00:49] moxie0 opened #178 "ASCollectionView Incorrect Cell Sizing Before Scroll?"
Using a minimal code sample:

[code]

The first four cells are rendered correctly sized, but the subsequent three cells are rendered "too tall." Inspecting the layout reveals that the Text views are sized correctly, but the parent ASCollectionViewCell are mysteriously large.

![Simulator Screen Shot - iPhone 11 Pro - 2020-09-07 at 17 39 05](https://user-images.githubusercontent.com/512439/92422169

[2020-09-17 11:54] paulo2703 opened #180 "Auto Sizing WaterfallGrid not working (ios 14)"
Hey, I tried to use the Waterfall Layout in SwiftUI with images I dont know the aspect ratio or height and so I tried to not provide a WaterfallLayoutDelegate and use the auto layout which is mentioned in the demo. But I always get an error and the app crashes...
Am I missing something?

[2020-09-18 04:53] Tianyu95 commented on #180
Do not use ..fitContentSize(dimension: .vertical) and fixedSize(horizontal: false, vertical: true) in iOS14
just a temporary measure

[2020-09-18 08:36] paulo2703 commented on #180
so the problem is related to iOS 14? Will there be a fix anytime soon?

Thank you so much for the answer btw!!

[2020-09-22 14:35] jeremyscatigna opened #181 "PhotoGridScreen editMode iOS 14"
**Describe the bug**
A clear and concise description of what the bug is.
Hi, I just tried the PhotoGridScreen from your demo project inside my project, everything looks except the edit mode.
When I tap on Edit the images are disabled properly but when I tap on images to select them nothing is happening, it doesn't select images
**To Reproduce**
Steps to reproduce the behaviour:

**Expected behavio

[2020-09-24 18:13] alexeyprimechaev opened #182 "Cells don't self-size on content change"
**Describe the bug**
Updated from 1.5.X to 1.7.1 (similar behavior experienced in the 1.8.0WIP branch), and sells stopped self-sizing to fit content.

**To Reproduce**
Download and build my project for iOS 14/14.2
https://www.dropbox.com/s/4zjar1l1f038d67/timepiece.zip?dl=0
All the ASCollectionView stuff is in ContentView.swift

**Expected behaviour**
Cells self-sizing.

**Screenshots**
https://im

[2020-09-28 12:56] brandtdaniels opened #183 "Documentation on static content"
Please add documentation on static content.

I'm trying to determine if I can do something like this:

[code]

[2020-09-28 13:08] brandtdaniels opened #184 "Cannot convert value of type 'ASSection<Int>' to closure result type 'ViewArrayBuilder.Wrapper'"
Cannot convert value of type 'ASSection<Int>' to closure result type 'ViewArrayBuilder.Wrapper'

For myself and others, what does this mean?

[2020-09-28 13:14] brandtdaniels commented on #184
It seems to be related to when I create an ASCollectionView that has only one ASSection.

[2020-09-29 10:03] sthwicked opened #185 "NavigationLink not working on section headers and footers"
**Describe the bug**
When I wrap my section header view in a navigation link, no navigation is executed when the conditions are met

**To Reproduce**
ASCollectionViewSection(...)
.sectionHeader {
NavigationLink(...) {
HeaderView()
}
}

**Xcode Version:**
-

**Simulator, Device, Both?**
- both

[2020-10-03 20:36] skunkworker commented on #132
I ran into this issue, and it looks like tryin to append `.background(Color(.systemGroupedBackground))` to the ASCollectionView caused the navigation title text to float in place and the title would never collapse.

<img width="214" alt="Screen Shot 2020-10-03 at 2 35 34 PM" src="https://user-images.githubusercontent.com/2637951/95001285-bfb48480-0585-11eb-88c8-0419bef92c14.png">

Is there a certa

[2020-10-03 20:57] apptekstudios commented on #132
Hi @skunkworker, I haven’t had a chance to release the new version yet but someone else encountered this issue and made a simple fix in this PR (setting the background Color on the collectionview rather than using swiftUI’s modifier) https://github.com/apptekstudios/ASCollectionView/pull/173

[2020-10-03 21:30] skunkworker commented on #132
Thanks @apptekstudios, I'm glad this issue was fixed. Is there a timeline for when the next release will be?

[2020-10-04 16:01] seboslaw opened #186 "dynamic height in horizontally scrollable section"
Hey guys,

I'm basically trying to implement the AppStore example but with dynamic type support. In order for this to work I've modified the ```var layout: ASCollectionLayout<Int>``` extension to deliver the following code:

[code]

However, the ``.estimated(350)`` for the item's and group's height don't seem to work. The resulting section always has a height of 350 and doesn't adopt to the actual

[2020-10-13 05:46] skunkworker commented on #132
@apptekstudios it looks like there may have been a bad merge. I tracked down the PR here https://github.com/apptekstudios/ASCollectionView/commit/484a82d0e7d16359d593a2ff00a2b46dceb7d467#diff-7f9f29f1f24c322ca3c619f169098e877fa4e3df56da7732e282e3d4ec06857fL182

and for some reason the `assignIfChanged(collectionView, \.backgroundColor, newValue: parent.backgroundColor)` line is removed.

I could w

[2020-10-14 20:26] alexyak opened #188 "tvOS support"
Please add tvOS support to your code!

[2020-10-19 14:06] codetheweb opened #189 "Manually position / add padding to ActivityIndicator"
First of all, thank you for such a high quality open source library - I wouldn't have been able to make [my app](https://xkcdy.com) without it.

I'm wondering if there's a way to manually position or add padding to the UIActivityIndicator view that appears on scroll-to-refresh. I would like it to be positioned below the buttons, instead of overlapping with them (the floating buttons fade out once

[2020-10-28 20:07] Carterman1 commented on #185
Im having this problem too

[2020-11-05 00:43] timothycosta commented on #189
I would also like to see this.  I was able to get a reference to the underlying scroll view and modify the refresh control's bounds directly during each `body` pass, but it's not too clean.

[2020-11-05 18:41] codetheweb commented on #189
@timothycosta could you share some code showing how you accomplished that?

[2020-11-09 15:14] DenTelezhkin commented on #169
I believe this is not only beta bug, as this is happening on iOS 14.1 as well.

[2020-11-09 15:39] zntfdr commented on #169
Not sure if it works for this library, but in my case I fixed this issue by swizzling `UIHostingController`'s `keyboardWillShowWithNotification:` private API as shown by @steipete [here](https://steipete.me/posts/disabling-keyboard-avoidance-in-swiftui-uihostingcontroller/).

Note that the bug is fixed in iOS 14.2 (without swizzling), therefore the patch above should be used only for iOS 14.0-14.1

[2020-11-09 22:03] apptekstudios commented on #169
Thanks @zntfdr!

@DenTelezhkin this is actually fixed on the v1.8 branch, unfortunately I haven’t had time to finish updating docs and move it into master yet but it is stable and ready to use :)

[2020-11-10 09:03] DenTelezhkin commented on #169
Thanks @apptekstudios!

1.8 branch works in my case.

[2020-11-17 01:27] skunkworker commented on #169
Hi, I am using the v1.8.0WIP branch and still seeing this. Attached is a screen recording of the behavior. The lowest 3 cells seem to "load in" from a corner once the card over view is dismissed with the keyboard.

[ascollectionview_bug.mov.zip](https://github.com/apptekstudios/ASCollectionView/files/5550666/ascollectionview_bug.mov.zip)

[2020-11-18 06:59] skunkworker opened #190 "ASCollectionView wrapped in NavigationView causing bottom cells on screen to reload after dismissing keyboard"
**Describe the bug**
When a ASCollectionView is wrapped inside of a NavigationView and you present a Sheet View with an editable field. If you are focused on the editable field and then dismiss the view, which dismisses the keyboard, the last few items are being "reloaded" with an animation from the left.

**To Reproduce**
This small test app reproduces this bug.
https://github.com/skunkworker/asc

[2020-11-18 07:02] skunkworker commented on #190
I was just playing around with this bug some more. If you scroll completely down so where the "7" cell is no longer visible, then scroll back up and click the `+` button. The cells don't disappear and don't show the bug anymore.

Could this be a cell view initialization issue?

[2020-11-23 13:43] seboslaw commented on #185
+1

[2020-11-26 08:39] timothycosta commented on #189
@codetheweb Basically, I keep track of the underlying UIScrollView in `@State`.  You can get that by using a library like [Introspect](https://github.com/siteline/SwiftUI-Introspect).

Then, I use something like:

[code]

[2020-11-26 20:56] noefroidevaux opened #191 "Add the possibility to set content insets to grid layout"
Currently we can pass a `sectionInsets` parameter to `list` or `orthogonalGrid` layouts, but not `grid` layout

[2020-12-02 11:28] paulfreeman commented on #185
I would not expect this to work,  It is a feature rather than a bug.  A solution is to embed the CollectionView in a UIKit UINavigationController and then implement navigations using UIKit.  If trying to use SwiftUI's NavigationLink, it will effectively be isolated in a UIHostingController vended UIViewController and there's no way to use that to trigger navigations because SwiftUI will not build

[2020-12-02 14:31] paulfreeman opened #193 "Retain cycles related to Hosting Controller caching."
**Description**
I have found some retain cycles in the current version. These appear to be in the area of caching hosting controllers.  Its unclear to me if they are significant, but as a previous issue covered a similar area I am reporting this for checking.

**To Reproduce**

1 : View detail from demo

(other views also show similar retentions, but this is what I did first time)

a) open ‘Photo

[2020-12-02 15:54] paulfreeman opened #194 "Crash in prefetcher"
**Describe the bug**
When scrolling the PhotoView in the demo app the app crashed in the prefetcher call to the onCell prefetch method. (I had been testing the memory by going in and out of the AppStore Layout view repeatedly prior to this).

NB: Crash occurred on the line in bold in ASSectionDataSource

The call is on the background thread

[code]

**To Reproduce**
Run the demo app,  rapidly scro

[2020-12-04 18:40] codetheweb commented on #189
Thanks for pointing me in the right direction.

I ended up implementing this function in a custom layout delegate (since I was using one already):
[code]

where

[code]

and the modifier on the collection view:

[code]

[2020-12-10 17:08] RWOverdijk commented on #119
Sorry to bother on a closed issue, but how does this work? When I try this I get:

Is there any documentation available on this?

[2020-12-11 09:26] RWOverdijk opened #195 "General documentation"
This project seems to be really useful and I've been trying to understand how it works. Is there more documentation available? It might be because I'm new to swift/swiftui but I find it difficult to understand how this works based on the examples.

More specifically, I'm trying to implement one of the "app store" demo sliders, specifically the one for "featured". I end up still having two directio

[2020-12-12 21:42] skunkworker commented on #190
I got around this bug by changing the itemSize to absolute instead of estimated. I think this may be because the estimated size changes for the cells that are being blocked by the keyboard. It's hackish but it works.

[code]

[2020-12-15 01:28] apptekstudios commented on #191
Thanks for the PR :)

[2020-12-15 01:28] #191 closed

[2020-12-15 01:29] apptekstudios commented on #188
Closing as we don't plan to support this (as discussed previously in #138). Would always welcome a pull request :)

[2020-12-15 01:29] #188 closed

[2020-12-15 01:31] apptekstudios commented on #184
This is a limitation of the current implementation of function builders - hopefully with Swift 5.4 this will be fixed. In the meantime, there is another init method that takes a single section as an argument 👍

[2020-12-15 01:31] #184 closed

[2020-12-15 01:34] apptekstudios commented on #189
Sorry for the delayed response, I've had a long break and am back at last. This seems like something I could build into the library...

Potentially just a modifier that defines an offset amount for the activity indicator? Did adjusting the origin achieve what you wanted?

[2020-12-15 01:37] apptekstudios commented on #190
I think this might have to do with SwiftUI's new keyboard avoidance behaviour. I am curious if this still happens when using the `v1.8.0` branch? Otherwise, it seems that the cells' frames are being set within an animation block, which is odd given this is managed by UICollectionView outside of our control.

[2020-12-15 01:39] apptekstudios commented on #193
This should be resolved in the `v1.8.0` branch as I have removed the caching behaviour. SwiftUI was behaving strangely in some circumstances when reusing controllers, and there is no apparent performance loss without caching 👍

[2020-12-15 01:41] apptekstudios commented on #185
Unfortunately, SwiftUI isn't recognising navigation links when they are wrapped within UIKit elements. Without apple exposing some of their private APIs I can't get around this within the library itself.

There are some useful ideas on this blog (https://fivestars.blog/swiftui/programmatic-navigation.html) - he suggests how to use a single navigation link (which would be outside of the ASCollectio

[2020-12-15 01:41] #185 closed

[2020-12-15 01:47] apptekstudios commented on #180
For a waterfall layout it is important to know the aspect ratios ahead of time as a single cell changing size can change the layout of every single cell that comes after it. There are techniques to quickly determine size of an image without downloading the whole image (see https://github.com/malcommac/ImageSizeFetcher for some ideas). Alternatively, you could configure your server's API to provide

[2020-12-15 01:47] #180 closed

[2020-12-15 01:47] #146 closed

[2020-12-15 01:48] #134 closed

[2020-12-15 01:48] #154 closed

[2020-12-15 01:49] #151 closed

[2020-12-15 01:50] #158 closed

[2020-12-15 01:50] #160 closed

[2020-12-15 01:50] #161 closed

[2020-12-15 01:50] #176 closed

[2020-12-15 01:52] apptekstudios commented on #167
It is likely you need to add a `fixedSize` modifier to the `Text` items. Otherwise SwiftUI will allow them to be collapsed when it determines the smallest fitting size 👍

[2020-12-15 01:52] #167 closed

[2020-12-15 01:52] #164 closed

[2020-12-15 01:56] apptekstudios commented on #195
You could use a SwiftUI `.frame(height: xxx)` modifier to limit the height of the collection view.

eg.
[code]

[2020-12-15 01:56] #195 closed

[2020-12-15 01:56] apptekstudios commented on #195
This documentation is helpful for UICollectionView layouts: https://developer.apple.com/documentation/uikit/views_and_controls/collection_views/implementing_modern_collection_views

[2020-12-15 02:21] apptekstudios commented on #186
Apple's `UICollectionViewCompositionalLayout` (which is what you're using here) seems to struggle with this type of sizing. You'll notice that where they use it on the app store and elsewhere they actually use a fixed size. Curiously, none of their demos show the estimated sizing being used either. I'm not sure how to fix this other than to use a fixed size sorry!

[2020-12-15 04:14] gorbat-o commented on #167
Will try that thank you!

[2020-12-16 15:45] RWOverdijk commented on #195
Thank you. I ended up using a frame, but I felt like it was wrong. Apparently it's not 😄

[2020-12-16 22:24] codetheweb commented on #189
Adjusting the origin worked fine for me.

It definitely feels hacky, so a library feature would be great but it works fine for now.

[2020-12-19 20:57] skunkworker commented on #190
@apptekstudios I just tested this on `v1.8.0WIP` and I'm still seeing the original behavior.

[2020-12-24 06:24] skunkworker commented on #85
On Xcode 12.3 I'm seeing this bug when the ASCollectionView is inside of a NavigationView. But the example code above no longer produces this bug.

[2020-12-26 22:23] seboslaw opened #200 "Crash when rotating to landscape and back to portrait"
**Describe the bug**
I have setup a project to support portrait and landscape left/right device orientation. When displaying an ASCollectionView in may app, then rotating the device to any landscape orientation and then back to portrait the app crashes with the following error (I'll attach a full stack trace at the bottom). As far as I can tell from the debug navigator the crash occurs in line 72

[2021-01-29 10:06] Zhulmin opened #201 "How to apply both UICollectionViewLayout and UICollectionViewCompositionalLayout in sections in the same ASCollectionView?"
How to apply both UICollectionViewLayout and UICollectionViewCompositionalLayout in sections in the same ASCollectionView?

Just like the code below

[code]

[2021-02-03 10:14] #201 closed

[2021-02-03 10:15] Zhulmin commented on #201
resolve

[2021-02-16 15:55] andrei1152 commented on #186
I think I've solved this, only be mere chance and with a lot of extra additional help.

![image](https://user-images.githubusercontent.com/20640765/108085261-d0215380-707d-11eb-9baf-709eb08d6961.png)

There's a lot of things that I've done to make this work, and I don't know which of them will help you.

This is how I'm using ASCollectionView to create a horizontally scrollable list of cards. The

[2021-02-16 16:13] andrei1152 opened #203 "NavigationLink not working when ASCollectionView inside a List"
**Describe the bug**
When ASCollectionView is used inside a List, a click on one of its cells will not trigger navigation.
If the same ASCollectionView is put outside the List, navigation works properly.
**To Reproduce**
- create a list with a section
- set an ASCollectionView as the content of that section
- have ASCollectionView cells wrapped in a NavigationLink

**Expected behaviour**
Cell tap

[2021-03-03 05:47] davut opened #204 "Is there any way to center the scrolling to the selected cell?"
Depending on the selection I want to scroll to the selected cell (center the cell). Example for that can be youtube app where you can select the tags on top and it centers the selected tag.

Here you can see what I am trying to do. If i select the one on the right it should center that cell.
![Screen Shot 2021-03-02 at 9 45 05 PM](https://user-images.githubusercontent.com/27011602/109758646-be24d2

[2021-03-08 18:48] andrei1152 opened #208 "ASCollectionView does not maintain scroll position when loading new batch on top"
**Describe the bug**
When inserting new data after scrolling to top, ASCollectionView refreshes the data and scrolls to the (new)top, instead of maintaining current scroll position.

**To Reproduce**
[code]

viewModel.fetchMessages() looks something like this
[code]

**Expected behaviour**
What I'm trying is to implement something similar to a chat like functionality, where you start at the
bottom

[2021-03-08 18:52] #203 closed

[2021-03-09 14:47] #208 closed

[2021-03-19 01:28] r3pps opened #209 "[Feature Request] Change RefreshControl tintColor"
Hi, I would like to change the tintColor of the refresh control when pulling to refresh. Is there an easy way to do this? Or is this a feature that can be added. Thanks

[2021-05-28 23:37] schwjustin opened #211 "Cannot find 'ASRemoteImageManager' in scope"
After adding ASCollectionView using the Swift Packages and selecting Dynamic Library, ASRemoteImageManager is not recognized.

Xcode v12.5

<img width="332" alt="Screen Shot 2021-05-28 at 7 36 39 PM" src="https://user-images.githubusercontent.com/18671480/120050761-0dd23880-bfec-11eb-9e09-78fd2b7d6dc5.png">

[2021-05-29 01:59] BayramInanc commented on #211
Do not add dynamic library.

[2021-05-29 03:54] #211 closed

[2021-05-29 03:56] schwjustin opened #212 "[Feature Request] Add scrollToItem function"
Adding scrollToItem would enable scrolling to top (scroll to first item).

[2021-05-31 22:38] #193 closed

[2021-05-31 22:39] #169 closed

[2021-06-03 11:25] sofiialushchanets commented on #209
Hi, agree with the above comment. Would also be nice to have refreshControl customisable, ex. add custom view to it etc. Or at least make it accessible.
Please consider this feature. Thanks!

[2021-06-03 15:20] sergdort commented on #151
So it seems like it's a SwiftUI issue as it for some reason tries to access parent's view controller's navigation controller.
Which is happens on ACCollectionView cell will appear, (when it adds internal cell hosting view controller as a child)
<img width="797" alt="Screenshot 2021-06-03 at 14 48 12" src="https://user-images.githubusercontent.com/4622322/120669385-5162f180-c487-11eb-90f2-799c2f43b

[2021-06-04 17:19] thegalkin opened #213 "No such module 'ASCollectionView' with SPM"
**Describe the bug**
Couldn't import ASCollectionView - "No such module 'ASCollectionView' with SPM"

**To Reproduce**
Steps to reproduce the behaviour:
add package via Swift Package Manager - add its libraries to target

**Expected behaviour**
It should have been imported as any other spm library

**Xcode Version:**
- 12.5

**Simulator, Device, Both?**
Xcode problem

**How to solve**
Use CocoaPod

[2021-07-07 16:38] valnenov opened #216 "Instance method 'background(_:alignment:)' requires that 'UIColor' conform to 'View'"
**Describe the bug**
I imported the Demo code in my Swift project. Was able to get everything to work except for some minor errors.
For instance:
   In the TableViewDragAndDropScreen.swift file
I get the error:
   Instance method 'background(_:alignment:)' requires that 'UIColor' conform to 'View'
in code segment like this:

Text("some text")
                .padding().background(Color.red)

**To

[2021-07-08 01:33] valnenov commented on #216
Problem solved per answer 3 in https://stackoverflow.com/questions/65510419/why-am-i-getting-instance-method-background-alignment-requires-that-uico

[2021-07-17 16:44] GermanZvezdin opened #217 "Width of the ASCollection View Tags"
**Describe the error**
The problem is that the width of the AS Collection View Tags is larger than its content these greatly complicate the creation of a border for this view

**For Playback**
Create ASCollection View Tags from the Demo add text inside and make a border for it

**Expected behavior**
The width of ASCollection View Tags will be greater than the width of its content

**Screenshots**

[2021-07-19 21:33] Z3r0CooLE opened #218 "Canvas breaks using ASCollectionView"
**Describe the bug**
I have a TabView in my main ContentView body. I have four structs that return the content view of each tab item. Two of these structs contain an ASCollectionView; the first collection has three ASCollectionViewSections and the second collection has two. The project builds fine, Xcode reports no errors in the code and the syntax highlighting is showing everything the way it sho

[2021-09-08 19:01] #216 closed

[2021-09-10 10:35] leogiroux opened #220 "scrollPositionSetter is not working"
Hi,

Nothing is happening when I set the scroll position in my example, am I doing something wrong ?

[code]

[2021-09-16 01:17] kevindropwithus commented on #220
I'm experiencing the same

[2021-09-17 20:02] sjmueller opened #221 "Crash on iOS 15 occurs when sections do not have a .sectionHeader"
In iOS 15, a crash occurs in some circumstances when a `.sectionHeader` is not provided:

and [this particular code is hit](https://github.com/apptekstudios/ASCollectionView/blob/master/Sources/ASCollectionView/Datasource/ASDiffableDataSourceCollectionView.swift#L87):

<img width="1339" alt="image" src="https://user-images.githubusercontent.com/29085/133846382-fd6207da-45f6-4a35-899b-2d3f29687e93.

[2021-09-17 21:29] Thomas-Vos commented on #221
Similar issue for me after upgrading to Xcode 13.0 and running the app on iOS 15:

In my case I was able to workaround the issue by adding the following:
[code]

[2021-09-18 23:05] mycroftcanner commented on #221
what did you add it to?

[2021-09-18 23:12] Thomas-Vos commented on #221
I added it to one of the `ASCollectionViewSection`a in my code. I only needed to add it to one, but that could be different for you.

[2021-09-18 23:13] Thomas-Vos commented on #221
Also +depending on the error message) you may need to add either an empty header or an empty footer.

[2021-09-20 11:49] apptekstudios commented on #221
Thanks for posting about this crash. It sounds like new behaviour on iOS 15 is enforcing that the same class of cell is always used for each supplementary  type. Unfortunately I'm on holiday without a laptop so can't test but I think it will be a single line fix.

[2021-09-20 12:00] apptekstudios commented on #221
As I said no computer to test, but replacing the `supplementaryEmptyKind` with just `kind` on [line 87 here](https://github.com/apptekstudios/ASCollectionView/blob/master/Sources/ASCollectionView/Datasource/ASDiffableDataSourceCollectionView.swift#L87) should hopefully fix that crash.

[2021-09-21 11:53] YunusDeveloper commented on #221
<img width="1335" alt="image" src="https://user-images.githubusercontent.com/38002531/134165618-b938805b-af7f-466e-a9b2-4d42ee7665b0.png">
I cha

I changed but I does not work. It says "Thread 1: "could not dequeue a view of kind: UICollectionElementKindSectionHeader with identifier 9DC51136-3548-42CA-9156-5FEDEFB485DA - must register a nib or a class for the identifier or connect a prototype cell

[2021-09-22 01:34] apptekstudios commented on #221
Fixed: [V2.1.1](https://github.com/apptekstudios/ASCollectionView/releases/tag/2.1.1)

Please let me know if this does not solve the issue for you, I tested multiple cases and could no longer reproduce any crash with the new version :)

[2021-09-22 01:34] #221 closed

[2021-09-28 05:23] yusufonderd commented on #221
Hello, How can I install version 2.1.1 of library with pod ? When I'm adding to pod 'ASCollectionView-SwiftUI'  in my podfile. Library version still looking in 1.7.1.

[2021-09-28 05:32] yusufonderd opened #222 "Pod version appears not updated since 1.7.1"
It appears there have not been any new versions pushed to cocoapods since 1.7.1. I also try to install latest version of library from swift package manager but it looks not updated in there.

[2021-09-29 20:18] chernovolenko commented on #222
I'm also waiting for cocoapod version with a iOS 15 fix. Are there any info about when to expect this?

[2021-09-30 11:31] apptekstudios commented on #222
Sorry the pod-spec was added by a contributor and I recommend SPM as the install method.

I have pushed the latest version to the cocoapods trunk

[2021-09-30 11:31] #222 closed

[2021-09-30 11:36] apptekstudios commented on #217
I think you are possibly misunderstanding the order of modifiers in SwiftUI. The demo project uses the following code:
[code]
Note that the padding and gray border are added in SwiftUI and are not part of ASCollectionView

[2021-09-30 11:36] #217 closed

[2021-10-01 11:53] berry95 commented on #221
![스크린샷 2021-10-01 오후 8 49 17](https://user-images.githubusercontent.com/9055997/135615224-1f4f724b-1ed2-44df-9870-ded36bf805e1.png)

Crash seems to have been fixed, but unknown insets appread on 15.0. You can check it in the official instafeed demo.

[2021-10-01 18:38] andrei115 opened #223 "iOS 15, ASCollectionView causes .sheet() to pop unexpectedly"
in ios 15, NavigationLinks inside ASCollectionView are popped when a modal is displayed from the destination view.

[code]

[2021-10-05 04:42] SaidAlSouti opened #224 "Pull to refresh in iOS 15 with large title issue"
When the title is in large mode, the activity indicator jitter (hide and show). This issue is observed in iOS 15, when pull to refresh is enabled.

[2021-10-06 06:52] YunusDeveloper opened #226 "No such module 'DifferenceKit' Xcode 13"
In Xcode 13 when I added with Swift package manager and It says No such module 'DifferenceKit'

[2021-10-25 06:27] skywalkerlw opened #228 "A bit sticky Drag & sort"
See the video  (i have a list of 30 items), the problem is on around 2nd second

https://user-images.githubusercontent.com/2090084/138644966-15ccb984-9e95-4207-b337-3e0e41b76a23.mp4

My code

[code]

[2021-11-10 07:06] r3pps commented on #220
I was experiencing this issue as well, but I have seemed to find a fix, what I did was added this to the updateUIViewController method in ASTableView file:

        context.coordinator.applyScrollPosition(animated: true)

This way, when the binding gets updated, the updateUIViewController method is triggered, and this forces the coordinator the apply the new scroll position. Hope this helps!

[2021-11-11 13:17] seboslaw commented on #223
@andrei115 have you found a solution to this problem? A temp solution for me has been to use the tag/selection version of NavigationLink and use a ZStack. But implementing this throughout the app is super cumbersome.

[2021-11-11 13:33] andrei115 commented on #223
@seboslaw I'm not familiar with the tag/selection version of the NavigationLink. The solution for me was to conditionally use LazyGrid for ios14/15 and fallback to ASCollectionView for ios 13. We eventually plan on dropping support for ios 13 as it's really buggy and it does not work well with other libraries(like for example KingFisher for image caching, if you've used)

[2021-11-11 13:51] seboslaw commented on #223
@andrei115 that sounds like the right decision. The tag/selection version is basically described here: https://stackoverflow.com/a/57837007
You create the NavigationLinks with EmptyViews and set a tag to each. You then assign a State var to capture the selection. And lastly you you a button in your view to set this State var to the tag value you want to navigate to.

[2021-12-14 14:05] leogiroux opened #229 "Terminating app due to uncaught exception 'NSInvalidArgumentException'"
With a Large list of images on IOS 15,
The crash happened randomly after a certain time of scroll.

<img width="1324" alt="Capture d’écran 2021-12-14 à 15 03 01" src="https://user-images.githubusercontent.com/12122348/146013065-bea7abd6-b852-4328-b90a-388225dfab6b.png">

[2022-01-01 17:46] markbryanramirez opened #230 "ASCollectionView with horizontal scroll direction showing section header on side instead of top."
**Describe the bug**
Section header is showing on the leading side instead of top when scroll direction of collectionCiew is set to horizontal.

**To Reproduce**
Steps to reproduce the behaviour:
Set collection view layout to horizontal. Add header to sections.

**Expected behaviour**
Should this behave similar to vertical scroll direction wherein the section header is on top?

**Screenshots**
<im

[2022-02-10 09:27] ggoraa opened #231 "macOS Support"
Thanks for such a library!
Will there be macOS support in it?

[2022-02-15 16:28] quantamrhino opened #232 "ASCollectionView doesn't support ASSection with swipeToDelete?"
**Describe the bug**
With ASTableView,  the same code works correctly, with swipe to delete working.
However embedding the ASSection in a CollectionView doesn't give any swipe to delete on the view.

**Xcode Version:**
- 13.2

**Simulator, Device, Both?**
- Where is the problem occuring
both

[2022-02-26 07:51] quantamrhino opened #233 "ASCollectionViewDelegate: support fast index scrolling?"
I have a class that inherits from ASCollectionViewDelegate
with implementations for
func indexTitles(for collectionView: UICollectionView) -> [String]?
and func collectionView(_ collectionView: UICollectionView, indexPathForIndexTitle title: String, at index: Int) -> IndexPath

But they never get called.
Not sure what I am doing wrong.

[2022-05-04 05:42] wisepmlin opened #236 "The operation couldn’t be completed. (SwiftPM.SPMRepositoryError error 3.)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Xcode Version:**
-

**Simulator, Device, Both?**
- Where is the problem occuring

[2022-05-07 02:28] trevordevelops opened #237 "onScroll CPU issues"
**onScroll modifier increase CPU usage from 30% to +90%**
When I am using the onScroll modifier with a switch case there is a clear CPU problem that can even cause the UI to become laggy.

**To Reproduce**
-Single section ASCollectionView
-onScroll
-switch case on contentOffset.y
-switch case controls 2-3 State booleans

**Expected behaviour**
Maybe a 10-20% increase in CPU usage at most

**onScro

[2022-05-07 03:25] trevordevelops commented on #237
Fixed by replacing State var with @Published ObservableObject

[2022-05-07 03:25] #237 closed

[2022-05-07 07:57] trevordevelops commented on #204
Update?

[2022-05-07 08:02] trevordevelops opened #238 "Unable to set scroll position of a cell"
Using ASCollectionView, I want to be able to set the scrolllposition of a cell and save it so the view does not lose its position when switching to another view. So far I can only set it to top, bottom, etc. and not a specific cell. Is this even possible?

[2022-05-08 04:03] davut commented on #204
I don't remember how I found a solution but it's fixed

[2022-05-08 04:03] #204 closed

[2022-05-13 10:37] gusadi09 opened #239 "Keep Showing Hidden Navbar"
**Describe the bug**
I was hide the navigation bar, but when I use ASCollectionView to showing a grid. the hidden navigation bar is force showing

**To Reproduce**
Steps to reproduce the behaviour:
Wrap a collection view with navigation bar and hide the nabber

**Expected behaviour**
Collection showing without nabber

**Screenshots**
If applicable, add screenshots to help explain your problem.

**

[2022-05-17 21:45] trevordevelops opened #240 "Paging style ASTableView"
I want to be able to have a custom paging delegate for astableview (with UX similar to tiktok/insta reels) but cannot find a way to do so. Is this possible?

[2022-05-18 19:44] #240 closed

[2022-05-18 19:58] trevordevelops opened #241 "ASTableView warning (view does not load)"
**Describe the bug**
On first load the tableview works as expected, when switching to another view and going back the view is empty and this is the warning I get: "[TableView] Warning once only: UITableView was told to layout its visible cells and other contents without being in the view hierarchy (the table view or one of its superviews has not been added to a window)."

**To Reproduce**
[code]

[2022-07-13 08:30] leogiroux opened #242 "Crash on IOS 16"
<img width="1127" alt="Capture d’écran 2022-07-13 à 10 29 37" src="https://user-images.githubusercontent.com/12122348/178687968-6af94cd6-95c7-4244-aff1-1f1b54c786b8.png">
<img width="1115" alt="Capture d’écran 2022-07-13 à 10 30 03" src="https://user-images.githubusercontent.com/12122348/178688060-321a59c7-32b9-4ce0-8ba2-1224125bf463.png">
<img width="1142" alt="Capture d’écran 2022-07-13 à

[2022-07-18 08:26] vinhle6 commented on #242
I have same issue.

[2022-07-19 13:41] dreampowder opened #243 "Rando"
Hello, first of all, thanks a lot for this wonderful library.

From time to time, i see a random crash log in crashlytics, which i couldn't reproduce on my side whatever i do.

[code]

the groupBackground is registered like this:

[code]

and GroupBackground is like this:

[code]

Thanks a lot for your time.

[2022-07-19 13:52] dreampowder commented on #243
looks like this is an ios16 bug, similar to the tableview bug mentioned in another issue
<img width="586" alt="Screen Shot 2022-07-19 at 16 52 02" src="https://user-images.githubusercontent.com/623593/179767220-b8436187-729a-4cf1-8990-8a96132c2166.png">
<img width="1173" alt="Screen Shot 2022-07-19 at 16 51 50" src="https://user-images.githubusercontent.com/623593/179767245-de9c30e6-bbf1-4622-adff